<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="__PUBLIC__/wang/common_css/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/wang/personal_center.css">
	<link href="__CSS__/layui.css" rel="stylesheet">
	<title>阿纳巴里</title>
</head>
<body>
	<header>
		<include file="layout:header" />
	</header>
	<div class="body">
		<div class="body_left">
		<div>
		 <div>
			<p class="username">{$personal['username']}</p>
			<div class="leval"><if condition="$allInfo['status'] eq 1">还差{$allInfo['integral']}个阿纳豆，您就升到Lv{$allInfo['level']}啦<else/>
			您当前的累计阿纳豆为:{$allInfo['integral']}
			</if></div>
			 <input type="hidden" name="safeLevel" value="{$safeLevel}">
			<div class="money"><p>支持阿纳豆: <span>{$supportMoney}</span></p><p>剩余阿纳豆: <span>{$personal['money']}</span></p></div>
			<div class="safe">账户安全等级<span><i style="" id="safe"></i></span>
				<if condition="$personal['safe_level'] eq 1">
					<span>低</span>
				</if>
				<if condition="$personal['safe_level'] eq 2">
					<span>中</span>
				</if>
				<if condition="$personal['safe_level'] eq 3">
					<span>高</span>
				</if>
				<span class="up_btn">点击提升</span></div>
			<div class="user_inform" id="phone">{$secretPhone}</div>
			<div class="user_inform" id="email"><if condition="$personal['is_bind_email'] eq 0 ">未绑定<else/><span style="color: forestgreen">已绑定</span></if></div>
			<div class="user_inform" id="name"><if condition="$personal['is_true'] eq 0">未实名<else/><span style="color: forestgreen">已实名</span></if></div>
			<div><if condition="$userInfo['is_allowed_recharge'] eq 1 and $userInfo['bank_card'] neq ''"><span id="recharge">充值</span><span id="post_cash">提现</span><else/><span class="up_btn" style="border: 1px solid #e50909;
    color: #e50909;">请完善信息</span></if></div>
		 </div>
			<p id="repeat_bg">点击替换背景</p>
			<p class="footer">Copyright 2015摄图网 泸ICP备15050430号</p>
		</div>
		</div>
		<div class="body_right">
			<ul style='display: block;'>
				<li id="identity"><div>实名信息</div></li>
				<li id="team"><div>账户明细</div></li>
				<li id="password"><div>账户安全</div></li>
				<li id="ask"><div>问题留言</div></li>
				<li id="actor"><div>演艺申请</div></li>
				<li id="attend"><div>我的参与</div></li>
			</ul>
			<div class="identity" style="display: none;">
				<div class="bg">
				<div class="close_identity"></div>
					<div class="identity_content">
						<ul>
							<li class="choice">个人资料</li>
							<li>安全中心</li>
						</ul>
						<div class="people_data">
							<div class="user"><input type="text" value="{$personal['username']}" disabled></div>
							<div class="real_name"><span>实名:</span><if condition="$personal['is_true'] eq 0"><span>未实名</span><else/><span style="color: forestgreen">已实名</span></if></div>
							<div class="sex">
								<span>性别:</span>
								<span><input type="radio" name="sex" value="" data-sex="1" <if condition="$userInfo['sex'] eq 1">checked="checked"</if>>男</span>
</span>
								<span><input type="radio" name="sex" value="" data-sex="2" <if condition="$userInfo['sex'] eq 2">checked="checked"</if>>女</span>
							</div>
							<input type="hidden" value="{$personal['level']}" id="dengji">
							<div class="user_leval"><span >用户等级:</span><p><i id="bg_1"></i><span id="d" style="border-radius: 10px">

							</span></p></div>
							<script>
								var arr = ['0%','10%','30%','50%','70%','90%'];
								var brr = ['Lv0','Lv1','Lv2','Lv3','Lv4','Lv5'];
								var lv = $('#dengji').val();
								var lvR = $('#dengji').val();
								$('#d').css('left',arr[lv]);
								$('#d').text(brr[lv]);
								$('#bg_1').css({'background':'url('+'__PUBLIC__/wang/img/level'+lvR+'.png)','left':arr[lv]});
							</script>
							<div class="save_update" id="sex">保存更新</div>
						</div>
						<div class="safe_center"  style="display: none;" >
							<div class="bind_phone"><span>手机:</span><span><if condition="$userInfo['is_bind_phone'] eq 0 "><a id="bind_phone">绑定手机</a><else/><a style="color: forestgreen;text-decoration: none">已绑定</a></if></span><span style="display: none;"><input type="text" placeholder="请输入您的手机" name="phone" value=""></span></div>

							<div class="bind_email"><span>邮箱:</span><if condition="$userInfo['is_bind_email'] eq 0"><span><a id="bind_email">绑定邮箱</a></span><else/><span><a style="color: forestgreen;text-decoration: none">已绑定</a></span></if><span style="display: none;"><input type="text" placeholder="请输入您的邮箱" name="email" value=""></span></div>

							<div class="bind_username"><span><i></i><if condition="$userInfo['realname'] eq ''"><input type="text" placeholder="请输入您的姓名" name="realname" value="{$userInfo['realname']}"><else/><input type="text" placeholder="请输入您的姓名" name="realname" value="{$userInfo['realname']}" disabled></if></span><label>*注意：必须是真实姓名</label></div>
							<div class="bind_idcard"><span><i></i><if condition="$userInfo['id_card'] eq ''"><input type="text" placeholder="请输入您的身份证号" name="id_card"><else/><input type="text" placeholder="请输入您的身份证号" name="id_card" disabled value="{$userInfo['id_card']}"></if></span><label>身份证号必须正确</label></div>

							<div id="line"></div>
							<div class="bind_bankname"><span><i></i><input type="text" placeholder="请输入开户名" name="bank_card_name" value="{$userInfo['bank_card_name']}"></span><label>开户名</label></div>
							<div class="bind_bankcard"><span><i></i><input type="text" placeholder="请输入开户卡号" name="bank_card" value="{$userInfo['bank_card']}"></span><label>银行卡号</label></div>
							<div class="bind_city"><span><i></i><input type="text" placeholder="HongKong" name="city" value="{$userInfo['city']}"></span><label>开户城市与当初办理的一致</label></div>
							<div class="bind_otherbank"><span><input type="text"  name="address" value="{$userInfo['address']}"></span><label>开户支行</label></div>
							<div class="save_update" id="save">保存更新</div>
						</div>
					</div>
				</div>
				<p>A</p>
				<p>L</p>
				<p>B</p>
		    </div>
		    <div class="attend" style="display: none;">
				<div class="bg">
				<div class="close_attend"></div>
					<div class="attend_content">
						<ul>
							<li class="choice">我的支持</li>
							<li>我的收藏</li>
						</ul>
						<div class="my_suport" >
								<volist name="supportSituation" id="s">
									<div>
										<img src="{$s['image_url']}" alt="" style="height: 180px;width: 420px">
										<div class="movie_content">
											<p>片名:{$s['name']}</p>
											<p>{$s['englishname']}</p>
											<p>{$s['director']}/导演</p>
											<p><span>{$s['support_number']}</span>人支持</p>
											<p>已支持<span>{$s['support_money']}</span>阿纳豆</p>
											<p><input type="button" class="cancel_suport" value="取消支持" data-id="{$s['aid']}"></p>
										</div>
									</div>
								</volist>
							<div id="cancel_div" style="display: none;">
								<h3>亲爱的用户:</h3>
								<p>根据我们的用户协议规定:退出影片的支持</p>
								<p>将扣除所有收益和10%的手续费，可在7-15个工作日到账</p>
								<p><input type="button" class="sure_input" value="确定"><input type="button" class="cancek_input" value="取消"></p>
							</div>	
							<input type="hidden" name="page_1" value="{$count_1}">
							<p id="demo8" style="position: absolute;left:5%;top: 450px;"></p>
						</div>

						<div class="my_collect" style="display: none;">
							<volist name="collection" id="c">
								<div><img src="{$c['image_url']}" style="height: 100%;width: 100%;" alt="">
									<div class="movie_content">
										<p>片名:{$c['name']}</p>
										<p>{$c['englishname']}</p>
										<p>{$c['country']}/{$c['duration']}分钟</p>
										<p>{$c['date']}/{$c['showaddress']}</p>
										<p style="color: #e50909; float: right;"><i></i>已收藏</p>
									</div>
								</div>
							</volist>
							<input type="hidden" name="page_2" value="{$collectionCount}">
							<p id="demo9" style="position: absolute;left:5%;top: 450px;"></p>
						</div>
					</div>
				</div>
				<p>A</p>
				<p>L</p>
				<p>B</p>
		    </div>
		    <div class="money_operat" style="display:none;">
				<div class="bg">
				<div class="close_money"></div>
					<div class="money_content">
						<ul>
							<li class="choice">充值</li>
							<li>提现</li>
							<li class="put_record">充值记录<span>>></span></li>
						</ul>
						<ul style="display: none;">
							<li>充值记录</li>
							<li class="now_put">立即充值<span>>></span></li>
						</ul>
						<if condition="$userInfo['bank_card'] neq '' ">
							<div class="put_money">
								<p>选择充值方式: <span class="apply_style apply_style_choice" data-id="1">微信</span><span class="apply_style" data-id="2">支付宝</span><span class="apply_style" data-id="3">个人银联</span></p>
								<div id="feiyinglian">
									<img id="weixing" src="{$weixin['image_url']}" alt="">
									<img id="zhifubao" style="display: none;" src="{$ali['image_url']}" alt="">
								</div>
								<div id="yinglian" style="display: none;"><p>户主:{$userInfo['bank_card_name']}</p>
									<p>卡号:{$userInfo['bank_card']}</p>
									<p>开户支行:{$userInfo['address']}</p>
									<img src="__PUBLIC__/wang/img/choice.png" alt="">
								</div>
								<p>充值金额: <input type="text" name="rechargeMoney" placeholder="0.00"></p>
								<p>交易凭证:<span style="margin-left: 20px;"><span style="height: 50px;width: 50px; text-align:center; line-height:50px;color:#e05959;cursor: pointer;display: inline-block;border: 1px dashed red" >+</span><input id="file_upload" style="cursor: pointer; width: 160px; height: 50px;"  class="money_file" type="file"></span></p>

								<div id="container1"></div>
								<div id="put_btn" class="rechargeOk">确定</div>
							</div>
							<else/>
							<div class="first_bind" style="width: 100%;height: 300px;text-align: center; line-height: 300px;">
								请先绑定用户信息
							</div>
						</if>
						<div class="get_money" style="display: none;">
							<p>提现金额: <input type="text" name="exMoney" placeholder="0.00"></p>
							<p>可提余额{$userInfo['money']} <img src="__PUBLIC__/wang/img/question.png" alt=""><span>每周五才可以提现，手续费为10%，但是每月月底可以免费提现一次哦！</span></p>
							<div class="question_div"></div>
							<input type="button" value="确定" id="get_btn" class="ex" >
						</div>
						<div class="money_record" style="display: none;">
							<p><span>充值时间</span>
							<span>充值方式</span>
							<span style="color: white;">交易号</span>
							<span style="color: white;">充值金额</span>
							<span>交易状态</span></p>
							<div id="ls">
							<volist name="orderList" id="o">
								<p><span>{:date('Y-m-d',$o['create_time'])}</span>
									<span><if condition="$o['type'] eq 1">微信</if><if condition="$o['type'] eq 2">支付宝</if><if condition="$o['type'] eq 3">银行转账</if></span>
									<span>{$o.order_number}</span>
									<span>{$o.money}</span>
									<span><img src="__PUBLIC__/images/status/{$o.is_pass}.png" style="border-radius:50%;height: 18px;width: 18px"></span></p>
							</volist>
						 </div>
							<div id="demo6" style="margin-left: 42px;"></div>
					</div>


						<div class="money_deal" style="display: none;">

							<p><span>交易时间</span>
								<span>交易类型</span>
								<span style="color: white;">交易号</span>
								<span style="color: white;">交易金额</span>

								<volist name="consume" id="c">
									<p><span>{:date('Y-m-d',$c['create_time'])}</span>
										<span>电影下载</span>
										<span>{$c.order_number}</span>
										<span>{$c.money}</span>
										<span>{$c.is_pass}</span></p>
								</volist>


								<volist name="consume_1" id="e">
									<p><span></span>
										<span>电影支持</span>
										<span>{$e.order_number}</span>
										<span></span>
								</volist>

						</div>

					</div>
				</div>
				<p>A</p>
				<p>L</p>
				<p>B</p>
		    </div>
				<div class="password" style="display: none;">
					<div class="bg">
					<div class="close_password"></div>
						<div class="password_content">
								<ul><li>密码管理</li>
								</ul>
								<div class="update_password">
									<p><i></i><input style='padding-left:37px;width:174px;' name="password" type="password"><label>输入当前的登录密码</label></p>
									<p><input type="password" placeholder="8-16位数字,字母组合" name="newpassword"><label>新密码</label></p>
									<p><input type="password" placeholder="再输入一次密码" name="repassword"><label>确认新密码</label></p>
									<div class="save_update" id="editPassword">保存更新</div>
								</div>
						</div>
						<input type="hidden" value="" id="images">
						<input type="hidden" value="{$count}" id="count">
					</div>
					<p>A</p>
					<p>L</p>
					<p>B</p>
			    </div>
			<div class="ask" style="display: none;">
				<div class="bg">
					<div class="close_ask"></div>
					<div class="ask_content">
						<p>查看信箱<span>>></span></p>
						<form class="ask_form">
							<div> <label >问题标题</label><input style="height: 24px;" type="text" name="question"></div>
							<div style="height: 40px;"> <label style="line-height: 40px;">上传问题图片</label><input type="file" id="upload"><div class="choice_file">选取文件</div></div>
							<div> <label >问题详情</label><textarea style="resize: none; padding: 5px;" cols="30" rows="10" name="content"></textarea></div>
							<div><input type="button" id="ask_btn" value='提交'></div>
						</form>
					</div>
					<div class="ask_answer" style="display: none;">
						<p><span>我要提问<b>>></b></span></p>
						<div class="answer_div" >
							<volist name="question" id="q">
							<p class="qdetail" data-id="{$q['id']}">{$q['title']}</p>
							<p style="display: none" id="{$q['id']}">{$q['content']}</p>
							<p style="display: none" class="r{$q['id']}">{$q['reply']}</p>
							</volist>
						</div>
						<form class="answer_form" style="display: none;">
							<div><label >问题标题</label><input type="text" name="rtitle" style="height: 30px"></div>
							<div><label >详细内容</label><textarea style="resize: none; padding: 5px;" cols="30" rows="10" name="rcontent"></textarea></div>
							<div><label >回复内容</label><textarea style="resize: none; padding: 5px;" cols="30" rows="10" name="rdcontent"></textarea></div>
							<input class="back_title" type="button" value="返回到标题">
							<input type="hidden" value="" id="question" name="question">
						</form>
					</div>
				</div>

				<p>A</p>
				<p>L</p>
				<p>B</p>
				<script>
					$(function(){
						$('.qdetail').click(function(){
							id = $(this).attr('data-id');
							title = $(this).text();
							content = $('#'+id).text();
							reply = $('.r'+id).text();
							$('input[name  = rtitle]').val(title);
							$('textarea[name  = rcontent]').val(content);
							$('textarea[name  = rdcontent]').val(reply);
						});
					});
				</script>
			</div>

			<div class="team" style="display: none;">
				<div class="bg">
					<div class="close_team"></div>
					<div class="team_content">

						<table>

							<thead>
								<tr>
									<th>消费时间</th>
									<th>消费阿纳豆</th>
									<th>消费类型</th>
								</tr>								
							</thead>
							<tbody>
							<volist name="consume_1" id="c">
								<tr>
									<td>{:date('Y-m-d',$c['create_time'])}</td>
									<td>{$c.money}</td>
									<td>{$c.type}</td>
								</tr>
							</volist>
							<volist name="consume_2" id="c">
								<tr>
									<td>{:date('Y-m-d',$c['create_time'])}</td>
									<td>{$c.money}</td>
									<td>{$c.type}</td>
								</tr>
							</volist>
							<volist name="consume_3" id="c">
								<tr>
									<td>{:date('Y-m-d',$c['create_time'])}</td>
									<td>{$c.money}</td>
									<td>{$c.type}</td>
								</tr>
							</volist>
							</tbody>
						</table>
						<input type="button" value="参与" class='join' style="font-size: 20px;">
					</div>

				</div>
				
				<p>A</p>
				<p>L</p>
				<p>B</p>
				<div class='money_modal' style='display: none;'>
							<span style="color: white;margin: 0 auto">我的成员:{:count($follower)}人</span><br>
					<br>
					<table id="table" width="100%" cellpadding="0" cellspacing="0" >
						<tr>
							<th>电话</th>
							<th>等级</th>
							<th>姓名</th>
							<th>投资等级</th>
							<th>推荐时间</th>
						</tr>
						<volist name="follower" id="fo">
						<tr style="color: white" align="center">
							<td>{$fo['username']}</td>
							<td>{$fo['level']}</td>
							<td>{$fo['realname']}</td>
							<td><if condition="$fo['role'] eq 0">无
								<elseif condition="$fo['role'] eq 1" />经纪人
								<elseif condition="$fo['role'] eq 2" />经纪人
								<elseif condition="$fo['role'] eq 3" />制片人
								<elseif condition="$fo['role'] eq 4"/>出品人</if>
							</td>
							<td>{:date('Y-m-d',$fo['create_time'])}</td>
						</tr>
						</volist>
					</table>

					</div>
				<div class='close_modal' style="display: none"><input type="button"  value="关闭"></div>
			</div>


<input type="hidden" value="{$personal['money']}" name="jifen">
			<div class="actor" style="display: none;">
				<div class="bg">
					<div class="close_actor"></div>
					<div class="actor_content">
						<div class='movie_list' style="display: block;">
							<volist name="films" id="fi">
							<div>
								<div><img src="{$fi['image_url']}" alt=""><p> &nbsp;{$fi['name']}</p></div>
								<p>申请阿纳豆<span>70000</span>分</p>
								<input class="goTodetail" type="button" value="立即申请" data-id="{$fi['id']}">
							</div>
							</volist>
						</div>
						<div class='movie_intr' style="display: none;">
							<p class='mianbao'><span class="backTo1">电影列表</span><b>></b><span class="backTo2 mianbaoChoice">电影详情</span></p>
							<div class="movie_details">
								<div class="movie_topleft"><img src="__PUBLIC__/wang/home_img/homeimg03.jpg" alt=""></div>
								<div class="movie_topright">
									<p>电影名称: <span class="filmname"></span></p>

									<p>申请阿纳豆: <span>70000</span></p>
									<label style="font-size: 16px;">选择申请角色:</label><select name="role">
									</select>
									<p><input class="goToform" type="button" value="点击申请"></p>				
								</div>
								<div class="movie_body">
									<h3>角色性格</h3>
									<p class="intro"></p>
									<h3>角色特征</h3>
									<p class="feature"></p>
									<h3>形象风格</h3>
									<p class="figure"></p>
								</div>
							</div>	
						</div>
						<form class="apply_role" style='display:none;'>
							<p class='mianbao' style="margin-bottom: 20px;"><span class="backTo1">电影列表</span><b>></b><span class="backTo2">电影详情</span><b>></b><span class="backTo3 mianbaoChoice">申请表</span></p>
							<h3 >申请表</h3>
							<div class='movie1'>
							 <label ><span style="color: red">*</span>&nbsp;电影名:</label><a href="#"  class="recruit"></a> </div>
							<div><label><span style="color: red">*</span>&nbsp;姓名:</label><input type="text" name="name"><span>输入真实姓名</span>
							</div>
							<div><label><span style="color: red">*</span>&nbsp;性别:</label><input type="radio" name="sex01" id="man01" value="1" checked><label for="man01">男</label><input type="radio" name="sex01" id="woman01" value="0"><label for="woman01">女</label></div>
							<div><label><span style="color: red">*</span>&nbsp;民族:</label><input style='width: 80px;' type="text" name="volk"></div>
							<div><label><span style="color: red">*</span>&nbsp;生日:</label><input placeholder="例如:1990-01-01" type="date" name="birthday"></div>
							<div><label><span style="color: red">*</span>&nbsp;身高:</label><input type="number" name="realheight"><span>单位:cm</span></div>
							<div><label><span style="color: red">*</span>&nbsp;身份证号:</label><input type="text" name="id_card_"></div>
							<div><label><span style="color: red">*</span>&nbsp;联系电话:</label><input type="text" name="phone1"></div>
							<div><label><span style="color: red">*</span>&nbsp;电子邮箱:</label><input type="text" name="email1"><span>申请的结果将发送至此邮箱</span></div>
							<div><label><span style="color: red">*</span>&nbsp;现居住地:</label><input type="text" name="crraddress"></div>
							<div class="up_photo"><label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;生活照:</label><input type="file" id="uploadStar"><input type="button"  value="点击上传"></div>
							<input type="hidden" value="" name="im">
							<div><label style='float: left;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;自我评价:</label><textarea  cols="30" rows="10" name="skill"></textarea></div>
							<div><label style='float: left;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;角色理解:</label><textarea  cols="30" rows="10" name="ex"></textarea></div>


							<input type="button" value="确定申请" id="sure_apply">
							<script>
								//这里弹出层显示的内容你 来写快一点 就是下面的字
								$(function(){

									$('#sure_apply').click(function(){

										var name = $('input[name = name]').val();
										var sex = $('input[name = sex01]').val();
										var volk = $('input[name = volk]').val();
										var birthday = $('input[name = birthday]').val();
										var height_ = $('input[name = realheight]').val();
										var id_card_ = $('input[name = id_card_]').val();
										var phone = $('input[name = phone1]').val();
										var email = $('input[name = email1]').val();
										var crraddress = $('input[name = crraddress]').val();
										var skill = $('textarea[name = skill]').val();
										var ex = $('textarea[name = ex]').val();
										var image_url = $('input[name = im]').val();

										if(name == ''){
											layer.tips('姓名不能为空','input[name = name]');
											return;
										}else{
											if(sex == ''){
												layer.tips('性别不能为空','input[name = sex01]');
												return;
											}else{
												if(volk == ''){
													layer.tips('民族不能为空','input[name = volk]');
													return;
												}else{

													if(birthday == ''){
														layer.tips('生日不能为空','input[name = birthday]');
														return;
													}else{
														if(height_== ''){
															layer.tips('身高不能为空','input[name = realheight]');
															return;
														}else{
															if(id_card_ == ''){
																layer.tips('身份证号不能为空','input[name = id_card_]');
																return;
															}else{
																var reg = /\d{14}(\d{4}|(\d{3}[xX])|\d{1})/;
																if(!reg.test(id_card_)){
																	layer.tips('身份证号格式不正确','input[name = id_card_]');
																	return;
																}

																if(phone == ''){
																	layer.tips('手机号不能为空','input[name = phone1]');
																	return;
																}else{

																	if(email == ''){
																		layer.tips('邮箱不能为空','input[name = email1]');
																		return;
																	}else{
																		reg_ = /\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/;
																		if(!reg_.test(email)){
																			layer.tips('邮箱格式不正确','input[name = email1]');
																			return;
																		}else{
																			if(crraddress == ''){
																				layer.tips('居住不能为空','input[name = crraddress]');
																				return;
																		}
																	}
																}
															}
														}
													}
												}
											}
										}}
										 url = location.protocol+'//'+window.location.host+'/Home/Personal/star';
										$.ajax({
											'type':'post',
											'dataType':'json',
											'url':url,
											'data':{
												'name':name,
												'sex':sex,
												'volk':volk,
												'birthday':birthday,
												'height':height_,
												'id_card':id_card_,
												'phone':phone,
												'email':email,
												'address':crraddress,
												'skill':skill,
												'ex':ex,
												'image_url':image_url,
											},
											success:function(result){
												if(result.status == 1){
													layer.open({
														type: 2,
														title: '提示',
														btn: ['确定'],
														shadeClose: true,
														shade: 0.8,
														area: ['380px', '30%'],
														content: "{:U('Home/Personal/tips')}", //iframe的url
														btn1:function(){
															location.reload();
														}
													});
												}else{
													layer.msg(result.msg);
												}
											}
										});
									});
								});
							</script>
						</form>
					</div>
				</div>
				<p>A</p>
				<p>L</p>
				<p>B</p>
			</div>
			<input type="hidden"  value="" name="film_id">
		</div>
	</div>
	<script src='__PUBLIC__/wang/common_js/jquery-1.12.4.min.js'></script>
	<script src='__PUBLIC__/wang/common_js/common.js'></script>
	<script src='__PUBLIC__/wang/personal_center.js'></script>
	<script src="__PUBLIC__/code/js/jquery.html5upload.js"></script>
	<!--layer.js-->
	<script src="__PUBLIC__/layer/layer.js" type="text/javascript"></script>
	<script src="__JS__/layer/layui.js"></script>
	<script src="__JS__/layer/laypage.js"></script>
	<script type="text/javascript">
		$(function () {



			var cancel_id = '';
			$('body').on('click','.cancel_suport',function(){
				cancel_id = $(this).attr('data-id');
			});
			//>> 点击"取消支持"
			$('.sure_input').click(function(){
				$.ajax({
					'type':'post',
					'dataType':'json',
					'url':location.protocol+'//'+window.location.host+'/Home/Personal/feedBack',
					'data':{
						'orderId':cancel_id,
					},
					success:function(e){
						if(e.status == 1){

							layer.msg('退款成功',function(){
								location.reload();
							});
						}else{
							layer.msg(e.msg,function(){
								location.reload();
							});
						}
					}
				});
			});
			//>> 点击进入电影详情页
			$('.goTodetail').click(function(){

				var film_id = $(this).attr('data-id');
				$('input[name = film_id]').val(film_id);
				$.ajax({
					'type':'post',
					'dataType':'json',
					'url':location.protocol+'//'+window.location.host+'/Home/Personal/filmDetail',
					'data':{'id':film_id},
					success:function(e){
						console.log(e);
						$('.filmname').text(e.film.name);
						$('select[name = role]').html('');
						$.each(e.role,function(k,v){
							$('select[name = role]').append('<option value="'+ v.id+'">'+ v.name+'</option>');
						});
						$('.intro').text(e.roleDetail.intro);
						$('.feature').text(e.roleDetail.feature);
						$('.figure').text(e.roleDetail.figure);
					}
				});

			});

			//>> 点击切换角色
			$('select[name = role]').change(function(){
				$.ajax({
					'type':'post',
					'dataType':'json',
					'url':location.protocol+'//'+window.location.host+'/Home/Personal/getFilm',
					'data':{
						'film_id':$('input[name = film_id]').val(),
						'role_id':$(this).val(),
					},
					success:function(e){
						if(e.data != ''){
							$('.intro').text(e.data.intro);
							$('.feature').text(e.data.feature);
							$('.figure').text(e.data.figure);
						}else{
							$('.intro').text('');
							$('.feature').text('');
							$('.figure').text('');
						}
					}
				});
			});

			//>> 点击申请
			$('.goToform').click(function(){
				rid = $('select[name = role]').val();
				$.ajax({
					'type':'post',
					'dataType':'json',
					'url':location.protocol+'//'+window.location.host+'/Home/Personal/saveId',
					'data':{'roleId':rid},
					success:function(e){

					}
				});

				//>> 获取当前的电影名
				fname = $('.filmname').text();
				$('.recruit').text(fname);

			});

			$("#file_upload").h5upload({
				url: "{:U('Home/Personal/upload')}",
				fileObjName: 'image',
				fileTypeExts: 'jpg,png,gif,bmp,jpeg',
				multi: true,
				accept: '*/*',
				fileSizeLimit: 1024 * 1024 * 1024 * 1024,
				formData: {
					type: 'card_positive'
				},
				onUploadProgress: function (file, uploaded, total) {

				},
				onUploadSuccess: function (file, data) {
					data = $.parseJSON(data);
					if (data.status == 0) {
						layer.alert(data.msg, {time: 1000})
					} else {
						var _isMax = false;
						var path = data.url;
						// 获取图片列表
						$('#images').val(path);
						$('#container1').html('');
						$('#container1').html('<div style="padding-left: 94px;margin-top: 10px; width: 300px;height: auto;"><img src="'+path+'" alt=""></div>');
						if (_isMax == false) {
							layer.msg('上传成功', {time: 1000})

						}
					}
				},
				onUploadError: function (file) {
					layer.alert('上传失败');
				}
			});
			$("#upload").h5upload({
				url: "{:U('Home/Personal/upload')}",
				fileObjName: 'image',
				fileTypeExts: 'jpg,png,gif,bmp,jpeg',
				multi: true,
				accept: '*/*',
				fileSizeLimit: 1024 * 1024 * 1024 * 1024,
				formData: {
					type: 'card_positive'
				},
				onUploadProgress: function (file, uploaded, total) {

				},
				onUploadSuccess: function (file, data) {
					data = $.parseJSON(data);
					if (data.status == 0) {
						layer.alert(data.msg, {time: 1000})
					} else {
						var _isMax = false;
						var path = data.url;
						// 获取图片列表
						$('#question').val(path);
						if (_isMax == false) {
							layer.msg('上传成功', {time: 1000})

						}
					}
				},
				onUploadError: function (file) {
					layer.alert('上传失败');
				}
			});
			var  path = [];
			$("#uploadStar").h5upload({
				url: "{:U('Home/Personal/upload')}",
				fileObjName: 'image',
				fileTypeExts: 'jpg,png,gif,bmp,jpeg',
				multi: true,
				accept: '*/*',
				fileSizeLimit: 1024 * 1024 * 1024 * 1024,
				formData: {
					type: 'card_positive'
				},
				onUploadProgress: function (file, uploaded, total) {

				},
				onUploadSuccess: function (file, data) {
					data = $.parseJSON(data);
					if (data.status == 0) {
						layer.alert(data.msg, {time: 1000})
					} else {
						var _isMax = false;
						path.push(data.url);
						// 获取图片列表
						$('input[name = im]').val(path);
						if (_isMax == false) {
							layer.msg('上传成功', {time: 1000})

						}
					}
				},
				onUploadError: function (file) {
					layer.alert('上传失败');
				}
			});
				layui.use(['laypage', 'layer'], function(){
					var laypage = layui.laypage,layer = layui.layer;
					laypage({
						cont: 'demo6'
						,pages: $('#count').val()
						,groups: 0
						,first: false
						,last: false
						,jump: function(obj, first){
							if(!first){
								$.ajax({
									'type':'post',
									'dataType':'json',
									'url':'',
									'data':{
										'pgNum':obj.curr,
										'pgSize':12
									},
									success:function(result){

										$('#ls').html('');
										$.each(result.orderList,function(k,v){
											$('#ls').append('<p><span>'+v.create_time+'</span>'+
													'<span>'+ '银行转账'+'</span>'+
													'<span>'+ v.order_number+'</span>'+
												'<span>'+ v.money+'</span>'+
								'<span>'+ '<img style="height:18px;width:18px;border-radius:50%" src="__PUBLIC__/images/status/'+ v.is_pass+'.png">'+'</span></p>');
										});

									}
								});
							}
						}
					});
				});
			$('#ask_btn').click(function(){
				title = $('input[name = question]').val();
				content = $('textarea[name = content]').val();
				url = location.protocol+'//'+window.location.host+'/Home/Consult/add';
				if(title == ''){
					layer.msg('提问标题不能为空');
					return false;
				}
				if(content == ''){

					layer.msg('问题内容不能为空');
					return false;
				}
				$.ajax({
					'type':'post',
					'dataType':'json',
					'url':url,
					'data':{
						'title':title,
						'content':content,
						'image_url':$('#question').val(),
					},
					success:function(result){
						if(result.status == 1){
							layer.msg('您的问题已保存,请等待管理员回复',function(){
								location.reload();
							});
						}
					}
				});
			});
			layui.use(['laypage', 'layer'], function(){
				var laypage = layui.laypage,layer = layui.layer;
				laypage({
					cont: 'demo8'
					,pages: $('input[name = page_1]').val()
					,groups: 0
					,first: false
					,last: false
					,jump: function(obj, first){
						if(!first){
							$.ajax({
								'type':'post',
								'dataType':'json',
								'url':"{:U('Home/Personal/mySupport')}",
								'data':{
									'pgNum':obj.curr,
									'pgSize':4
								},
								success:function(result){
									var clonediv = $('#cancel_div').clone();
									console.log(clonediv)

									$('div[class = my_suport] > div').remove();
									$.each(result.rows,function(k,v){
										$('div[class = my_suport]').append('<div>'+
												'<img src="'+ v.image_url+'" alt="" style="height: 180px;width: 420px">'+
												'<div class="movie_content">'+
												'<p>片名:'+ v.name+'</p>'+
										'<p>'+ v.englishname+'</p>'+
										'<p>'+ v.director+'</p>'+
										'<p><span>'+ v.support_number+'</span>人支持</p>'+
										'<p>已支持<span>'+ v.support_money+'</span></p>'+
												'<p><input type="button" class="cancel_suport" value="取消支持" data-id="'+ v.id+'"></p>'+
										'</div>'+
										'</div>');
									});

									console.log(clonediv)
									$('div[class = my_suport]').append(clonediv)
								}
							});
						}
					}
				});
			});
			layui.use(['laypage', 'layer'], function(){
				var laypage = layui.laypage,layer = layui.layer;
				laypage({
					cont: 'demo9'
					,pages: $('input[name = page_2]').val()
					,groups: 0
					,first: false
					,last: false
					,jump: function(obj, first){
						if(!first){
							$.ajax({
								'type':'post',
								'dataType':'json',
								'url':"{:U('Home/Personal/myCollection')}",
								'data':{
									'pgNum':obj.curr,
									'pgSize':4
								},
								success:function(result){

									$('div[class = my_collect] > div').remove();
									$.each(result.rows,function(k,v){
										$('div[class = my_collect]').append('<div><img src="'+ v.image_url+'" style="height: 180px;width: 420px" alt="">'+
										'<div class="movie_content">'+
												'<p>片名:'+ v.name+'</p>'+
										'<p>'+ v.englishname+'</p>'+
										'<p>'+ v.country+'/'+ v.duration+'分钟</p>'+
										'<p>'+ v.date+'/'+ v.showaddress+'</p>'+
										'<p style="color: #e50909;"><i></i>'+ '已收藏'+'</p>'+
										'</div>'+
										'</div>');
									});
								}
							});
						}
					}
				});
			});

			$('#editPassword').click(function(){

				password = $('input[name = password]').val();
				newpassword = $('input[name = newpassword]').val();
				repassword = $('input[name = repassword]').val();
				var reg = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,16}$/;
				if(password == ''){
					layer.tips('当前密码不能为空','input[name = password]');return;
				}
				if(newpassword == ''){
					layer.tips('新密码不能为空','input[name= newpassword]');return;
				}
				if(repassword == ''){
					layer.tips('确认密码不能为空','input[name= repassword]');return;
				}
				if(repassword != newpassword){

					layer.msg('两次输入的密码不一致');return;
				}
				if(!reg.test(password) || !reg.test(repassword) || !reg.test(newpassword)){
					layer.msg('密码格式不正确');return;
				}
				$.ajax({
					'type':'post',
					'dataType':'json',
					'url':"{:U('Home/Personal/editPassword')}",
					'data':{
						'password':password,
						'newpassword':newpassword,
						'repassword':repassword
					},
					success:function(result){
						if(result.status == 1){
							$(this).css('display','none');
							layer.msg(result.msg,function(){
								location.reload();
							});
						}else{
							layer.msg(result.msg);
						}
					}
				});

			});
		});
	</script>
</body>
</html>
