<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="__PUBLIC__/wang/common_css/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/wang/news/news.css">
	<style>
		.new_content>h4{
			font-size: 20px;
			margin-bottom: 25px;
			margin-top: 25px;
		}
		.new_content>p{
			font-size: 16px;
			padding-left: 15px;
			margin-bottom: 10px;
		}
	</style>
	<title>阿纳巴里协议</title>
</head>
<body>
	<header>
		<include file="layout:header" />
	</header>
	<div class="content">
		<div class="new_content">
			<h3>阿纳巴里用户注册协议</h3>
			<h4>1.说明</h4>
			<p>请用户仔细阅读以下全部内容。如用户不同意本服务协议任意内容，请不要注册或使用阿纳巴里服务。如用户通过进入注册程序，即表示用户与阿纳巴里已达成协议，自愿接受本服务协议的所有内容。此后，用户不得以未阅读本服务协议内容作任何形式的抗辩。</p>
			<h4>2.阿纳巴里服务简介</h4>
			
		</div>
	</div>

	<script src='__PUBLIC__/wang/common_js/jquery-1.12.4.min.js'></script>
	<script src='__PUBLIC__/wang/common_js/common.js'></script>
</body>
</html>