<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="__PUBLIC__/wang/common_css/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/wang/details/details.css">
		<!--layer-->
	<link href="__CSS__/layui.css" rel="stylesheet">
	<title>阿纳巴里</title>
</head>
<body>
	<header>
		<include file="layout:header" />
	</header>

	<div class="content">
		<div class="content_left">
			<img id='title_img' src="{$info.image_url}" alt="moive_img">
			<input type="hidden" value="{$info['id']}" name="movie_id">
			<input type="hidden" value="{$userInfo['id']}" name="user_id">
			<div id="title">{$info.name}</div>
			<div class="movie_introduce">
				<p id="back"><span>+</span>预期回报</p>
				<div class="expect back">
					{:htmlspecialchars_decode($info['expected_return'])}
				</div>
				<p id="framework"><span>-</span>故事结构</p>
				<div class="expect framework" style="display: block;">
					{:htmlspecialchars_decode($info['story'])}
				</div>
				<p id="analyse"><span>+</span>故事分析</p>
				<div class="expect analyse">
					{:htmlspecialchars_decode($info['analysis'])}
				</div>
					<p id="comment_film"><span>+</span>专业影评</p>
					<div class="expect comment_film">
					{:htmlspecialchars_decode($info['film_critic'])}
				</div>
			</div>
		</div>
		<div class="content_right">
			<div class="collect">
				<p>#{$info['title']}</p>
				<p>{:date('Y-m-d',$info['start_time'])} 至 {:date('Y-m-d',$info['end_time'])}</p>
				<p><span id="skl">{$info.collection_number}</span>人收藏 <input id="fast_collect" type="button" onclick="collect({$info['id']})" value="立即收藏"></p>
			</div>
			<div class="suport">
				<p>已支持积分</p>
				<p> <span>{:floor($info['money'])}</span></p>
				<p>该项目在{:date('Y/m/d',$info['end_time'])}募集到{:floor($info['target_amount'])}积分视为成功！</p>
				<ul class="suport_inform">
					<li><p>目标积分</p>
					<p><span >{:floor($info['target_amount'])}</span></p>
				</li>
				<li>
					<p>支持人数</p>
					<p>{$info['support_number']}人</p>
				</li>
				</ul>
				<div class="now_suport" id="fast_suport">立即支持</div>
			</div>
			<div class="comment">
				<div>
					<p class="title">评论</p>
					<ul class="comment_ul">
						<li class="comment_choice" _type="1">导演</li>
						<li _type="2">演员</li>
						<li _type="3">故事</li>
						<li _type="4">后期</li>
					</ul>
					<div class="loginorreg"><a href="{:U('Home/Login/index')}"><span>登录</span></a> | <a href="{:U('Home/Register/index')}"><span>注册</span></a></div>
					<input type="hidden" value="{$count}" id="count">
					<textarea name="name" rows="8" cols="80" placeholder="输入我的想法" id="mainContent"></textarea>
					<div class="publish now_suport" id="ok">发表</div>
					<div class="publish_area">
						<volist name="comment" id="c">
							<p><img src="__PUBLIC__/wang/img/1.jpg" style="width: 30px;height: 30px"><span>{$c['username']}</span>:{$c['content']}</p>
						</volist>

					</div>
					<div id="demo6"></div>
				</div>
			</div>
		</div>
		<div class="suport_bg" style="display: none;">
			<div  id="suport">
				<p>电影类型:</p>
				<p class="fenghong"><input type="radio" name="fenhong" value="1" checked><span style="margin-right: 100px;">固定分红</span><input type="radio" name="fenhong" value="2"><span>浮动分红</span></p>
				<p>选择支持积分:</p>
				<p class="jifeng">
					<input type="radio" name="money" class="radio" value="100" checked><label>100</label>
					<input type="radio" name="money" class="radio" value="500"><label>500</label>
					<input type="radio" name="money" class="radio" value="1000"><label>1000</label>
					<input type="radio" name="money" class="radio" value="5000"><label>5000</label>
					<input type="radio" name="money" class="radio" value="10000"><label>10000</label>
				</p>
				<p><input type="checkbox" id="is_true"><span>我同意<a id="anbl_argement" style="color: #666;cursor: pointer;">《阿纳巴里用户协议》</a></span></p>
				<div><span id="sure_suport">确定支持</span><span id="cancel">取消</span></div>
			</div>
			<div class="argement"  style="display: none;">
				<h3>1.关于积分</h3>
				<p>支持的积分账户余额积分</p>
				<h3>2.支持的上限</h3>
				<p>你可以支持的上限为10000积分且只可以支持一次</p>
				<div class="close_btn">关闭</div>
			</div>
		</div>
	</div>
	<script src='__PUBLIC__/wang/common_js/jquery-1.12.4.min.js'></script>
	<script src='__PUBLIC__/wang/common_js/common.js'></script>
	<script src='__PUBLIC__/wang/details/details.js'></script>
	<script src="__JS__/layer/layui.js"></script>
	<script src="__JS__/layer/laypage.js"></script>
	<script>
		$(function(){
			layui.use(['laypage', 'layer'], function(){
				var type = $('.comment_choice').attr('_type');
				var laypage = layui.laypage,layer = layui.layer;
				laypage({
					cont: 'demo6'
					,pages: $('#count').val()
					,skip: true
					,jump: function(obj, first){
						if(!first){
							$.ajax({
								'type':'post',
								'dataType':'json',
								'url':"{:U('Home/Index/pageSelect')}",
								'data':{
									'pgNum':obj.curr,
									'pgSize':12,
									'type':type,
									'movie_id':$('input[name = movie_id]').val()
								},
								success:function(result){
									//>> 清空div中的内容
									$('.publish_area').html('');
									if(result.status == 1){
										$.each(result.directorArr,function(k,v){
											$('.publish_area').append('<p><img src="__PUBLIC__/wang/img/1.jpg"'+ "style='width: 30px;height: 30px'><span>"+ v.username+"</span>:"+ v.content+'</p>');
										});
									}
								}
							});
						}
					}
				});
			});
			//>> 发表主评论
			$('#ok').click(function(){
				//>> 判断是否登录
				var userInfo = $('input[name = user_id]').val();
				if(userInfo == ''){
					layer.msg('请先登录再评论');
					return ;
				}
				//>> 获取评论内容
				var content = $('#mainContent').val();
				var id = $('input[name = movie_id]').val();

				// 获取评论的类型
				var type = $('.comment_choice').attr('_type');
				//>> 判断是否为空
				if(content.length == 0){
					layer.tips('请输入您的评论', '#mainContent');
				}else{
					$.ajax({
						'type':'post',
						'dataType':'json',
						'url':"{:U('Home/Comment/add')}",
						'data':{
							'content':content,
							'movie_id':id,
							'type':type
						},
						success:function(result){
							if(result.status == 1){

								layer.msg('评论成功!',function(){
									location.reload();;
								});

							}else{
								layer.msg('评论失败!');
							}
						}
					});
				}
			});
		});
	</script>
     <script type="application/javascript">
		 $('#fast_suport').on('click', function () {
			 var  isLogin = "{$isLogin}";
			 console.log(isLogin);
			 if(isLogin == 0){
				 layer.msg('您还没有登录!',{
					 time: 0 //不自动关闭
					 ,btn: ['立即登录']
					 ,yes: function(index){
						 window.location.href = "{:U('Home/Login/index')}"
					 }
				 });
				 return false;
			 }else{
				 $('.suport_bg').fadeIn('slow');
				 $('.argement').hide();
			 }
		 });
		 $('#sure_suport').on('click',function(){

			 // 判断用户是否同意协议
			 if(!$("#is_true").is(':checked')){
				 layer.msg('请同意服务协议！！！');
				 return false
			 }
			 // 选择分红方式
			 var fh = $(".fenghong>input[type='radio']:checked").val();

			 // 选择积分多少
			 var money = $(".jifeng>input[type='radio']:checked").val();

			 var project_id="{$info['id']}";
			 var _data = {
				 money : money,
				 project_id : project_id,
				 type : fh
			 };
			console.log(_data);
			 $.post("{:U('home/index/support')}",_data,function (data) {
				 if (data.status == 0) {
					 layer.alert(data.msg);
				 } else {
					 layer.msg(data.msg);
					 $('.suport_bg').fadeOut('slow');
				 }
			 });
		 })

		 function collect(_id){
			 var _id = _id;
			 $.post("{:U('home/index/collect')}",{project_id:_id},function (data) {
				 if (data.status == 0) {
					 layer.msg(data.msg,{
						 time: 0 //不自动关闭
						 ,btn: ['立即登录']
						 ,yes: function(index){
							 window.location.href = "{:U('Home/Login/index')}"
						 }
					 });
				 } else {
					 $('#skl').text(data.info);
					 layer.msg(data.msg);
				 }
			 });
		 }

	 </script>
</body>
</html>
