<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="__PUBLIC__/wang/common_css/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/wang/details/details.css">
		<!--layer-->
	<link href="__CSS__/layui.css" rel="stylesheet">
	<title>阿纳巴里</title>
</head>
<body>
	<header>
		<div class="nav">
			<div>
				<a class="logo" href="../../index.html">logo</a>
			<ul class="top_nav">
				<li><a href="../../index.html"><p>首页</p><p>Home</p></a></li>
				<li style="position: relative;"><a href=""><p>公司介绍</p><p>Company</p></a>
					<dl>
						<dd><a href="">关于我们</a></dd>
						<dd><a href="">公司文化</a></dd>
					</dl>
				</li>
				<li class="thishtml"><a href="../movie_store.html"><p>电影超市</p><p>Movie store</p></a></li>
				<li><a href="../../star_factory/star_factory.html"><p>星工场</p><p>Star Factory</p></a></li>
				<li><a href=""><p>个人中心</p><p>Personal Center</p></a></li>
			</ul>
			<ul class="login_reg">
				<li style="position: relative;"><input id="search_cont" type="text"><i id="search_btn"></i></li>
				<li ><a id="login" href="../../login_reg/login.html">登录 |</a></li>
				<li ><a href="../../login_reg/reg.html">注册</a></li>
			</ul>
			</div>
		</div>
	</header>
	<div class="content">
		<div class="content_left">
			<img id='title_img' src="{$info.image_url}" alt="moive_img">
			<input type="hidden" value="{$info['id']}" name="movie_id">
			<input type="hidden" value="{$userInfo['id']}" name="user_id">
			<div id="title">{$info.name}</div>
			<div class="movie_introduce">
				<p><span>+</span>预期回报</p>
				<div class="expect">
					{:htmlspecialchars_decode($info['expected_return'])}
				</div>
				<br>
				<p><span>-</span>故事结构</p>
				<div class="expect">
					{:htmlspecialchars_decode($info['story'])}
				</div>
				<p><span>+</span>故事分析</p>
				<div class="expect">
					{:htmlspecialchars_decode($info['analysis'])}
				</div>
				<p><span>+</span>专业影评</p>
				<div class="expect">
					{:htmlspecialchars_decode($info['film_critic'])}
				</div>
			</div>
		</div>
		<div class="content_right">
			<div class="collect">
				<p>#{$info['title']}</p>
				<p>{:date('Y-m-d',$info['start_time'])} 至 {:date('Y-m-d',$info['end_time'])}</p>
				<p>{$info.collection_number}人收藏</p>
			</div>
			<div class="suport">
				<p>已支持资金</p>
				<p> <span>${$info['money']}</span></p>
				<p>该项目在{:date('Y/m/d',$info['end_time'])}募集到${$info['target_amount']}金额视为成功</p>
				<ul class="suport_inform">
					<li><p>目标金额</p>
					<p><span >${$info['target_amount']}</span></p>
				</li>
				<li>
					<p>支持人数</p>
					<p>{$info['support_number']}人</p>
				</li>
				</ul>
				<div class="now_suport">立即支持</div>
			</div>
			<div class="comment">
				<div>
					<p class="title">评论</p>
					<ul>
						<li>导演</li>
						<li>演员</li>
						<li>故事</li>
						<li>后期</li>
					</ul>
					<div class="loginorreg"><span>登录</span> | <span>注册</span></div>
					<input type="hidden" value="{$count}" id="count">
					<textarea name="name" rows="8" cols="80" placeholder="输入我的想法" id="mainContent"></textarea>
					<div class="publish now_suport" id="ok">发表</div>
					<div class="publish_area">
						<volist name="comment" id="c">
							<p><img src="__PUBLIC__/wang/img/1.jpg" style="width: 30px;height: 30px"><span>{$c['username']}</span>:{$c['content']}<img class="reply" src="__PUBLIC__/wang/details/img/comment.png" alt="" style="height: 18px;width: 22px;cursor: pointer;margin-left: 10px" ></p>
						</volist>

					</div>
					<div id="demo6"></div>
				</div>
			</div>
		</div>
	</div>
	<script src='__PUBLIC__/wang/common_js/jquery-1.12.4.min.js'></script>
	<script src='__PUBLIC__/wang/common_js/common.js'></script>
	<script src='__PUBLIC__/wang/details/details.js'></script>
	<script src="__JS__/layer/layui.js"></script>
	<script src="__JS__/layer/laypage.js"></script>
	<script>
		$(function(){
			layui.use(['laypage', 'layer'], function(){
				var laypage = layui.laypage,layer = layui.layer;
				laypage({
					cont: 'demo6'
					,pages: $('#count').val()
					,skip: true
					,jump: function(obj, first){
						if(!first){
							$.ajax({
								'type':'post',
								'dataType':'json',
								'url':"{:U('Home/Index/pageSelect')}",
								'data':{
									'pgNum':obj.curr,
									'pgSize':12,
									'type':1,
									'movie_id':$('input[name = movie_id]').val()
								},
								success:function(result){

									//>> 清空div中的内容
									$('.publish_area').html('');
									if(result.status == 1){
										$.each(result.directorArr,function(k,v){
											$('.publish_area').append('<p><img src="__PUBLIC__/wang/img/1.jpg"'+ "style='width: 30px;height: 30px'><span>"+ v.username+"</span>:"+ v.content+"<img class='reply'"+ 'src="__PUBLIC__/wang/details/img/comment.png" alt="" style="height: 18px;width: 22px;cursor: pointer;margin-left:'+ '10px" ></p>');
										});
									}
								}
							});
						}
					}
				});
			});
			//>> 发表主评论
			$('#ok').click(function(){
				//>> 判断是否登录
				var userInfo = $('input[name = user_id]').val();
				if(userInfo == ''){
					layer.msg('请先登录再评论');
					return ;
				}
				//>> 获取评论内容
				var content = $('#mainContent').val();
				var id = $('input[name = movie_id]').val();
				//>> 判断是否为空
				if(content.length == 0){
					layer.tips('请输入您的评论', '#mainContent');
				}else{
					$.ajax({
						'type':'post',
						'dataType':'json',
						'url':"{:U('Home/Comment/add')}",
						'data':{
							'content':content,
							'movie_id':id,
							'type':1
						},
						success:function(result){
							if(result.status == 1){
								layer.msg('评论成功!',function(){
									location.reload();
								});

							}else{
								layer.msg('评论失败!');
							}
						}
					});
				}
			});
		});
	</script>
</body>
</html>
