<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="__PUBLIC__/wang/common_css/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/wang/common_css/home.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/wang/common_css/jq22.css">
	<script type="text/javascript" src="__PUBLIC__/wang/common_js/slider.js"></script>
	<title>阿纳巴里</title>
</head>
<body>
	<header>
		<div class="nav">
			<div>
				<a class="logo" href="">logo</a>
			<ul class="top_nav">
				<li><a href=""><p>首页</p><p>Home</p></a></li>
				<li style="position: relative;"><a href=""><p>公司介绍</p><p>Company</p></a>
					<dl>
						<dd><a href="">关于我们</a></dd>
						<dd><a href="">公司文化</a></dd>
					</dl>
				</li>
				<li><a href="movie_store/movie_store.html"><p>电影超市</p><p>Movie store</p></a></li>
				<li><a href="star_factory/star_factory.html"><p>星工场</p><p>Star Factory</p></a></li>
				<li><a href="{:U('Home/Personal/index')}"><p>个人中心</p><p>Personal Center</p></a></li>
			</ul>
			<ul class="login_reg">
				<li style="position: relative;"><input id="search_cont" type="text"><i id="search_btn"></i></li>
				<li ><a id="login" href="{:U('home/login/index')}">登录 |</a></li>
				<li ><a href="login_reg/reg.html">注册</a></li>
			</ul>
			</div>
		</div>
		<div id="center">
			<div id="slider">
				<volist name="lunbos" id="lunbo">
					{~$i =0}
					{~$j +=$i+1}
				<div class="slide" style="border-left: none; left: 0px;"><a href="{:U('home/index/detail',['id'=>$lunbo['id']])}"><img class="diapo" border="0" src="{$lunbo.image_url}" style="opacity: 0.7; visibility: visible;"></a>
				<div class="backgroundText" style="top: 402px;"></div><div class="text" style="top: 402px;">百叶窗</div>
				<a href="{:U('home/index/detail',['id'=>$lunbo['id']])}" class="content">
					<div class="dragon">
							<div class="top"><img src="__PUBLIC__/wang/home_img/dragon00_03.png" alt=""></div>
						</div>
						<div class="complate_point">{:ceil(($lunbo['money'])/$lunbo['target_amount'])*100}%</div>
						<div class="rank">
							0{$j}
						</div>
						<p class="move_title">{$lunbo.name}</p>
						<p>导演：{$lunbo.director}</p>
						<p>主演：{$lunbo.star}</p>
						<p>出品单位：{$lunbo.company}</p>
						<p>剩余时间：<span>{:dataNum(time(),$lunbo['end_time'])}</span> 天</p>
						<p>剩余名额：<span>{$lunbo['total_num']-$lunbo['support_number']}</span> 人</p>
						<p>评星 <i class="star"></i><i class="star"></i><i class="star"></i></p>
						<p>支持金额：<span>${$lunbo.target_amount}</span></p>
				</a>
				</div>
				</volist>
			</div>
			<div class="hot_news"><i class="suona"></i>最新消息：<span>热烈祝贺<a href="">《那些年我们一起追过的女孩》</a>正式开拍</span></div>
		</div>
	</header>
	<div class="body">	
	<div class="move_list">
		<p class="choice">星级</p>
		<p>院线</p>
		<p>网路IP</p>
	</div>	
		<div class="main movie_star">
			<volist name="projectInfo" id="info">
				<if condition="$info['type_id'] eq 1">
  	  <section class="page1 tps-section tps-inview">
        <div class="page_container">
          <h1>
          		<a href="{:U('home/index/detail',['id'=>$info['id']])}" target="_blank">
					                    <img src="{$info['image_url']}" style="position:absolute; top: 0;left: 0; width: 100%;height: 100%" alt="">
          								<div class="move_content content">
          									<p>{$info['name']}</p>
          									<p>导演：{$info['director']} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 主演：{$info['star']}</p>
          									<p>出品单位：{$info.company}</p>
          									<p>剩余名额：<span>{$info['total_num']-$info['support_number']}</span> 人</p>
          									<p>评星 <i class="star"></i><i class="star"></i><i class="star"></i><i class="star"></i></p>
          									<p>支持金额：<span>${$info['target_amount']}</span></p>
          								</div>
          		</a>
          	</h1>
        </div>
      </section>
				</if>
			</volist>
    </div>
		<div class="main cname" style="display:none;">
			<volist name="projectInfo" id="info">
				<if condition="$info['type_id'] eq 2">
			<section class="page1 tps-section tps-inview">
				<div class="page_container">
					<h1>
						<a href="{:U('home/index/detail',['id'=>$info['id']])}" target="_blank">
							<img src="{$info['image_url']}" style="position:absolute; top: 0;left: 0; width: 100%;height: 100%" alt="">
							<div class="move_content content">
								<p>{$info['name']}</p>
								<p>导演：{$info['director']} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 主演：{$info['star']}</p>
								<p>出品单位：{$info.company}</p>
								<p>剩余名额：<span>{$info['total_num']-$info['support_number']}</span> 人</p>
								<p>评星 <i class="star"></i><i class="star"></i><i class="star"></i><i class="star"></i></p>
								<p>支持金额：<span>${$info['target_amount']}</span></p>
							</div>
						</a>
					</h1>
				</div>
			</section>
				</if>
			</volist>
		</div>
		<div class="main webip" style="display: none">
			<volist name="projectInfo" id="info">
				<if condition="$info['type_id'] eq 3">
			<section class="page1 tps-section tps-inview">
				<div class="page_container">
					<h1>
						<a href="{:U('home/index/detail',['id'=>$info['id']])}" target="_blank">
							<img src="{$info['image_url']}" style="position:absolute; top: 0;left: 0; width: 100%;height: 100%" alt="">
							<div class="move_content content">
								<p>{$info['name']}</p>
								<p>导演：{$info['director']} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 主演：{$info['star']}</p>
								<p>出品单位：{$info.company}</p>
								<p>剩余名额：<span>{$info['total_num']-$info['support_number']}</span> 人</p>
								<p>评星 <i class="star"></i><i class="star"></i><i class="star"></i><i class="star"></i></p>
								<p>支持金额：<span>${$info['target_amount']}</span></p>
							</div>
						</a>
					</h1>
				</div>
			</section>
				</if>
			</volist>
		</div>
	</div>
	<footer>
		Copyright 2015 摄图网 泸ICP备15050430号
	</footer>
	<script src='__PUBLIC__/wang/common_js/jquery-1.12.4.min.js'></script>
	<script type="text/javascript" src="__PUBLIC__/wang/common_js/jquery.tiltedpage-scroll.js"></script>
	<script src='__PUBLIC__/wang/common_js/home.js'></script>
	<script type="text/javascript">
	/* ==== start script ==== */
	slider.init();

	  $(document).ready(function(){
      $(".main").tiltedpage_scroll({
        angle: 20
      });
		});
	</script>
</body>
</html>