<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="__PUBLIC__/wang/common_css/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/wang/common_css/home.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/wang/common_css/jq22.css">
	<script type="text/javascript" src="__PUBLIC__/wang/common_js/slider.js"></script>
	<title>阿纳巴里</title>
</head>
<body>
	<header>
		<div class="nav">
			<div>
				<a class="logo" href="">logo</a>
			<ul class="top_nav">
				<li><a href=""><p>首页</p><p>Home</p></a></li>
				<li style="position: relative;"><a href=""><p>公司介绍</p><p>Company</p></a>
					<dl>
						<dd><a href="">关于我们</a></dd>
						<dd><a href="">公司文化</a></dd>
					</dl>
				</li>
				<li><a href="movie_store/movie_store.html"><p>电影超市</p><p>Movie store</p></a></li>
				<li><a href="star_factory/star_factory.html"><p>星工场</p><p>Star Factory</p></a></li>
				<li><a href="personal_center/personal_center.html"><p>个人中心</p><p>Personal Center</p></a></li>
			</ul>
			<ul class="login_reg">
				<li style="position: relative;"><input id="search_cont" type="text"><i id="search_btn"></i></li>
				<li ><a id="login" href="login_reg/login.html">登录 |</a></li>
				<li ><a href="login_reg/reg.html">注册</a></li>
			</ul>
			</div>
		</div>
		<div id="center">
			<div id="slider">
				<div class="slide" style="border-left: none; left: 0px;"><a href="" target="_blank"><img class="diapo" border="0" src="__PUBLIC__/wang/home_img/homeimg01.jpg" style="opacity: 0.7; visibility: visible;"></a>
				<div class="backgroundText" style="top: 402px;"></div><div class="text" style="top: 402px;">百叶窗</div>
				<a href="" class="content">
					<div class="dragon">
							<div class="top"><img src="__PUBLIC__/wang/home_img/dragon00_03.png" alt=""></div>
						</div>
						<div class="complate_point">90%</div>
						<div class="rank">
							01
						</div>
						<p class="move_title">灰姑娘</p>
						<p>导演：王晶</p>
						<p>主演：杨幂  胡歌 赵薇</p>
						<p>出品单位：阿纳巴里</p>
						<p>剩余时间：<span>15</span> 天</p>
						<p>剩余名额：<span>12</span> 人</p>
						<p>评星 <i class="star"></i><i class="star"></i><i class="star"></i></p>
						<p>支持金额：<span>121465</span> 元</p>
				</a>
				</div>
				<div class="slide" style="left: 146px;"><a href="" target="_blank"><img class="diapo" border="0" src="__PUBLIC__/wang/home_img/homeimg03.jpg" style="opacity: 0.7; visibility: visible;"></a>
				<div class="backgroundText" style="top: 404px;"></div><div class="text" style="top: 404px;">百叶窗</div>
				<a href="" class="content">
						<div class="dragon">
							<div class="top"><img src="__PUBLIC__/wang/home_img/dragon00_03.png" alt=""></div>
						</div>
						<div class="complate_point">20%</div>
						<div class="rank">
							01
						</div>
						<p class="move_title">灰姑娘</p>
						<p>导演：王晶</p>
						<p>主演：杨幂  胡歌 赵薇</p>
						<p>出品单位：阿纳巴里</p>
						<p>剩余时间：<span>15</span> 天</p>
						<p>剩余名额：<span>12</span> 人</p>
						<p>评星 <i class="star"></i><i class="star"></i></p>
						<p>支持金额：<span>121465</span> 元</p>
				</a>
				</div>
				<div class="slide" style="left: 283px;"><a href="" target="_blank"><img class="diapo" border="0" src="__PUBLIC__/wang/home_img/homeimg03.jpg" style="opacity: 0.7; visibility: visible;"></a>
				<div class="backgroundText" style="top: 405px;"></div><div class="text" style="top: 405px;">百叶窗</div>
				<a href="" class="content">
					<div class="dragon">
							<div class="top"><img src="__PUBLIC__/wang/home_img/dragon00_03.png" alt=""></div>
						</div>
						<div class="complate_point">40%</div>
						<div class="rank">
							01
						</div>
						<p class="move_title">灰姑娘</p>
						<p>导演：王晶</p>
						<p>主演：杨幂  胡歌 赵薇</p>
						<p>出品单位：阿纳巴里</p>
						<p>剩余时间：<span>15</span> 天</p>
						<p>剩余名额：<span>12</span> 人</p>
						<p>评星 <i class="star"></i><i class="star"></i><i class="star"></i><i class="star"></i><i class="star"></i> </p>
						<p>支持金额：<span>121465</span> 元</p>
				</a>
				</div>
			</div>
			<div class="hot_news"><i class="suona"></i>最新消息：<span>热烈祝贺<a href="">《那些年我们一起追过的女孩》</a>正式开拍</span></div>
		</div>
	</header>
	<div class="body">	
	<div class="move_list">
		<p class="choice">星级</p>
		<p>院线</p>
		<p>网路IP</p>
	</div>	
		<div class="main">
  	  <section class="page1 tps-section tps-inview">
        <div class="page_container">
          <h1>
          		<a href="" target="_blank">
          								<div class="move_content content">
          									<p>后会无期</p>
          									<p>导演：王晶 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 主演：杨幂 胡歌 赵薇</p>
          									<p>出品单位：阿纳巴里</p>
          									<p>剩余名额：<span>12</span> 人</p>
          									<p>评星 <i class="star"></i><i class="star"></i><i class="star"></i><i class="star"></i></p>
          									<p>支持金额：<span>121465</span> 元</p>
          								</div>
          		</a>
          	</h1>
        </div>
      </section>
  	  <section class="page2 tps-section">
        <div class="page_container">
          <h1><a href="" target="_blank"><div class="move_content content">
          									<p>后会无期</p>
          									<p>导演：王晶 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 主演：杨幂 胡歌 赵薇</p>
          									<p>出品单位：阿纳巴里</p>
          									<p>剩余名额：<span>12</span> 人</p>
          									<p>评星 <i class="star"></i><i class="star"></i><i class="star"></i><i class="star"></i></p>
          									<p>支持金额：<span>121465</span> 元</p>
          								</div></a></h1>
      </div></section>
  	  <section class="page3 tps-section">
        <div class="page_container">
          <h1><a href="" target="_blank"><div class="move_content content">
          									<p>后会无期</p>
          									<p>导演：王晶 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 主演：杨幂 胡歌 赵薇</p>
          									<p>出品单位：阿纳巴里</p>
          									<p>剩余名额：<span>12</span> 人</p>
          									<p>评星 <i class="star"></i><i class="star"></i><i class="star"></i><i class="star"></i></p>
          									<p>支持金额：<span>121465</span> 元</p>
          								</div></a></h1>
      </div></section>
      <section class="page4 tps-section">
        <div class="page_container">
          <h1><a href="" target="_blank"><div class="move_content content">
          									<p>后会无期</p>
          									<p>导演：王晶 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 主演：杨幂 胡歌 赵薇</p>
          									<p>出品单位：阿纳巴里</p>
          									<p>剩余名额：<span>12</span> 人</p>
          									<p>评星 <i class="star"></i><i class="star"></i><i class="star"></i><i class="star"></i></p>
          									<p>支持金额：<span>121465</span> 元</p>
          								</div></a></h1>
      </div></section>
  	  <section class="page5 tps-section">
        <div class="page_container">
          <h1><a href="" target="_blank"><div class="move_content content">
          									<p>后会无期</p>
          									<p>导演：王晶 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 主演：杨幂 胡歌 赵薇</p>
          									<p>出品单位：阿纳巴里</p>
          									<p>剩余名额：<span>12</span> 人</p>
          									<p>评星 <i class="star"></i><i class="star"></i><i class="star"></i><i class="star"></i></p>
          									<p>支持金额：<span>121465</span> 元</p>
          								</div></a></h1>
      </div></section>
    </div>
	</div>
	<footer>
		Copyright 2015 摄图网 泸ICP备15050430号
	</footer>
	<script src='__PUBLIC__/wang/common_js/jquery-1.12.4.min.js'></script>
	<script type="text/javascript" src="__PUBLIC__/wang/common_js/jquery.tiltedpage-scroll.js"></script>
	<script src='__PUBLIC__/wang/common_js/home.js'></script>
	<script type="text/javascript">
	/* ==== start script ==== */
	slider.init();

	  $(document).ready(function(){
      $(".main").tiltedpage_scroll({
        angle: 20
      });
		});
	</script>
</body>
</html>