<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/wang/common_css/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/wang/account/account.css">
	<title>我的账户</title>
</head>
<body>
	<header>
		<a href="../../../../Mobile/Public/wang/index.html"><img src="__PUBLIC__/wang/common_img/backimg.png" alt="">首页</a>
		<a href="../../../../Mobile/Public/wang/share/share.html">分享注册<img src="__PUBLIC__/wang/home/share.png" alt=""></a>
		<p class="name">Angelababy</p>
		<p class="lv"><img src="__PUBLIC__/wang/account/lv.png" alt="">还差1个阿纳豆,您就升级到V2啦</p>
	</header>
	<div class="xiaohao">
		<p>消耗阿纳豆：<span>1312.00</span></p>
		<p>剩余阿纳豆：<span>1312.00</span></p>
	</div>
	<div class="user">
		<p>账户:136****1234</p>
		<p class="shiming">实名:<span style="color: white;">未实名</span><span style="display: none;"> 已实名</span>  <a href="../name/name.html">马上认证></a></p>
	</div>
	<footer>
		<a href="../apply/apply.html">提现</a>
		<a href="../putmoney/putmoney.html">充值</a>
		<a href="../upload/upload.html">上传凭证</a>
	</footer>
	<script src='__PUBLIC__//wang/common_js/zepto.min.js'></script>
	<script src='__PUBLIC__/wang/common_js/auto-size.js'></script>
	<script src='__PUBLIC__/wang/account/account.js'></script>
</body>
</html>