body{
  font-family: 'Microsoft Yahei';
  font-size: 16px;
  min-width: 1200px;
  background: #fafafa;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
}
header{
  width: 100%;
  height: 120px;
  position: relative;
}
header a{
	color: white;
}
header .nav{
  width: 100%;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  background:black;
  z-index: 100;
}
.nav>div{
  height: 120px;
  margin: auto;
  text-align: center;
  width: 1200px;
  position: relative;
}
.logo{
  width: auto;
  height: 120px;
  display: block;
  float: left;
  line-height: 120px;
}
.top_nav{
  width: 590px;
  height: 120px;
  float: left;
  margin-left: 100px;
}
.top_nav li{
  float: left;
  padding-top: 40px;
  font-size: 20px;
  padding-right: 50px;
  height: 80px;
}
.top_nav>li:last-child{
  padding-right: 0;
}
.top_nav li a p:nth-child(2){
  font-size: 12px;
  margin-top: 10px;
}
.top_nav dl{
  position: absolute;
  top: 120px;
  left: -20px;
  background: black;
  width: 150px;
  display: none;
  z-index: 100;
}
.top_nav dl dd{
  height: 40px;
  line-height: 40px;
  text-align: left;
  padding-left: 20px;
}
.top_nav dl dd:nth-child(1) a{
  display: inline-block;
  height: 40px;
  padding-right: 10px;
  border-bottom: 1px solid #666;
}
.top_nav dl dd:nth-child(2){
  margin-bottom: 10px;
}
.top_nav li:hover p{
  color: #e50909;
}
.thishtml p{
   color: #e50909;
}
.top_nav li:nth-child(2):hover dl{
  display: block;
}
.login_reg{
  width: auto;
  height: 120px;
  float: right;
  color: white;
}
.login_reg li{
  position: relative;
  float: left;
  line-height: 120px;
  cursor: pointer;
  padding-left: 5px;
}
.login_reg input{
  width: 40px;
  outline: none;
  border:none;
  background: black;
  border-bottom: 1px solid white;
  color: white
}
#search_btn{
  display: block;
  width: 22px;
  height: 22px;
  background: url('home_img/search_03.png');
  position: absolute;
  top: 46px;
  right: 0;
}
.login_reg  li:nth-child(1){
  width: 120px;
  text-align: right;
}
.user_img{
  width: auto;
  height: 120px;
}
.user_img>img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}
.body{
	width: 100%;
	height: 648px;
	overflow: hidden;
}
.body_left{
	width: 35%;
	height: 100%;
	background-image: url(img/bg.png);
	background-size: 100%;
	color: white;
	position: relative;
	float: left;
}
.body_left>div{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.63);
}
.body_left>div>div{
	width: 400px;
	margin: auto;
	height: 100%;
	padding-top: 20px;
}

.body_left .username{
	font-size: 65px;
}
.leval{
	line-height: 35px;
	font-size: 15px;
	color: #ccc;
}
.leval:before{
	content: url(img/level.png);
	float: left;
	margin-right: 17px;
}
.money{
	margin-top: 37px;
}
.money p{
	float: left;
	margin-right: 20px;
}
.money p span{
	color: red;
	font-size: 18px;
}
.safe{
	color: #ccc;
	clear: both;
	padding-top: 30px;
	font-size: 20px;
}
.safe span:nth-child(1){
	display: inline-block;
	width: 100px;
	height: 18px;
	background: white;
	border-radius: 9px;
	margin-left: 12px;
	margin-right: 15px;
	position: relative;
}
.safe span:nth-child(1) i{
	display: inline-block;
	position: absolute;
	top: 0; left: 0;
	width: 35%;
	height: 100%;
	border-radius: 9px;
	background: red;
}
.safe span:nth-child(2){
	font-size: 15px;
	color: #8b8b8b;
	margin-right: 20px;
}
.up_btn{
	font-size: 20px;
	color: white;
	cursor: pointer;
}
.user_inform{
	margin-top: 26px;
}
.user_inform:before{
	content: url(img/phone.png);
	float: left;
	margin-right: 10px;
}
#email:before{
	content: url(img/email.png);
}
#name:before{
	content: url(img/card.png);
}
.body_left>div>div>div:last-child{
	margin-top: 36px;
}
.body_left>div>div>div:last-child span{
	display: inline-block;
	width: 120px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	border-radius: 3px;
	margin-right: 50px;
	font-size: 20px;
}
#recharge{
	background: #e50909;
	color: white;
}
#post_cash{
	border: 1px solid #e50909;
	color: #e50909;
}
#repeat_bg{
	position: absolute;
	left: 50%;
	margin-left: -60px;
	bottom: 107px;
	color: #ccc;
	letter-spacing: 2px;
	width: 120px;
	text-align: center;
	cursor: pointer;

}
.footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background: rgba(0,0,0,.3);
	text-align: center;
	line-height: 70px;
	font-size: 15px;
	color: #464646;
}
.body_right{
	width: 65%;
	background: white;
	height: 100%;
	float: left;
}
.body_right>ul{
	width: 100%;
	height: 100%;
}
.body_right>ul>li{
	width: 50%;
	height: 33.3%;
	outline: 1px solid #ccc;
	float: left;
	position: relative;
	cursor: pointer;
}
.body_right>ul>li div{
	text-align: center;
	color: #666;
	font-size: 24px;
}
.body_right>ul>li div:before{
	margin-top: 10%;
	content: url(img/identity.png);
	display: block;
	margin-bottom: 20px;
}
.body_right>ul>li:nth-child(2) div:before{
	margin-top: 10%;
	content: url(img/team.png);
	display: block;
	margin-bottom: 20px;
}
.body_right>ul>li:nth-child(3) div:before{
	margin-top: 10%;
	content: url(img/password.png);
	display: block;
	margin-bottom: 20px;
}
.body_right>ul>li:nth-child(4) div:before{
	margin-top: 10%;
	content: url(img/ask.png);
	display: block;
	margin-bottom: 20px;
}
.body_right>ul>li:nth-child(5) div:before{
	margin-top: 10%;
	content: url(img/actor.png);
	display: block;
	margin-bottom: 20px;
}
.body_right>ul>li:nth-child(6) div:before{
	margin-top: 10%;
	content: url(img/attend.png);
	display: block;
	margin-bottom: 20px;
}
.body_right>ul>li:hover{
	background: url(img/hover_bg.png) 100%;
	color: #e50909;
}
.body_right>ul>li:hover div{
	color: #e50909;
}
.body_right>ul>li:hover:nth-child(1) div:before{
	content: url(img/identityhover.png);
	background-size: 100%;
}
.body_right>ul>li:hover:nth-child(2) div:before{
	content: url(img/teamhover.png);
}
.body_right>ul>li:hover:nth-child(3) div:before{
	content: url(img/passwordhover.png);
}
.body_right>ul>li:hover:nth-child(4) div:before{
	content: url(img/askhover.png);
}
.body_right>ul>li:hover:nth-child(5) div:before{
	content: url(img/actorhover.png);
}
.body_right>ul>li:hover:nth-child(6) div:before{
	content: url(img/attendhover.png);
}
.body_right>div{
	width: 100%;
	height: 100%;
	position: relative;
}
.bg{
	width: 100%;
	height: 100%;
	background: #333;
	position: absolute;
	top: 0;
	left: 0;
}
.body_right>div>p{
	font-size: 100px;
	position: absolute;
	color: #4b4b4b;
	bottom: 10px;
}
.body_right>div>p:nth-child(2){
	right: 74px;
}
.body_right>div>p:nth-child(3){
	right: 55px;
	bottom: 32px;
}
.body_right>div>p:nth-child(4){
	right: 10px;
}
.identity_content{
  width: 600px;
  height: auto;
  margin: auto;
  overflow: hidden;
  padding-top: 20px;
}
.identity_content>ul{
  width: 100%;
  height: 58px;
  border-bottom: 1px solid #ccc;
  padding-left: 104px;
}
.identity_content>ul>li{
  float: left;
  font-size: 14px;
  height: 100%;
  line-height: 58px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 20px;
  color: white;
  cursor: pointer;
}
.identity_content>ul .choice{
  border-bottom: 1px solid #e50909;
  color: #e50909;
}
.people_data,.safe_center{
  padding-left: 148px;
  padding-top: 27px;
}
.people_data span{
  color: white;
  margin-right: 40px;
}
.user{
  width: 170px;
  height: 30px;
  background: url(img/input_bg.png);
  color: white;
  margin-bottom: 30px;
  position: relative;
}
.user>input{
	border-radius: 3px;
  position: absolute;
  width: 138px;
  height: 30px;
  border: none;
  padding: 0;
  outline: none;
  top: 0;
  background: rgba(0, 0, 0,0);
  color: white;
}
.user:before{
  content: url(img/name00.png);
  line-height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.real_name{
  margin-bottom: 38px;
}
.sex{
  margin-bottom: 38px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}
.sex span,.sex label{
  float: left;
  margin-right: 46px;
}
.man,.woman{
  float: left;
  width: 14px;
  height: 14px;
  border: 1px solid #979797;
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 4px;
  position: relative;
}
.man>i,.woman>i{
  position: absolute;
  top: 4px;
  left: 4px;
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #e50909;
  border-radius: 50%;
}
.sex_choice>p{
  border: 1px solid #e50909;
}
.sex_choice>label{
  color: #e50909;
}
.user_leval{
  padding-bottom: 56px;
}
.user_leval>span{
  float: left;
  margin-right: 15px;
}
.user_leval p{
  width: 323px;
  height: 21px;
  float: left;
  position: relative;
  background: url(img/userleval_bg.png) no-repeat center;
}
.user_leval p>span{
  width: 39px;
  height: 15px;
  display: inline-block;
  text-align: center;
  line-height: 15px;
  background: #e50909;
  position: absolute;
  left: 15%;
  top: 3px;
}
.user_leval p>i{
  display: block;
  position: absolute;
  top: -31px;
  width: 39px;
  height: 31px;
  left: 15%;
  background: url(img/level.png);
}
.save_update{
	border-radius: 3px;
  width: 108px;
  height: 30px;
  background: #e50909;
  color: white;
  text-align: center;
  line-height: 30px;
  clear: both;
  margin-left: 83px;
  cursor: pointer;
}
.close_identity,.close_attend,.close_money,.close_password,.close_ask,.close_team,.close_actor{
	position:absolute;
	top: 50px;
	right: 50px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.close_identity:before,.close_attend:before,.close_money:before,.close_password:before,.close_ask:before,.close_team:before,.close_actor:before{
	position: absolute;
	top: 10px;
	left: 0;
	display: block;
	content: '';
	width: 20px;
	height: 2px;
	background: white;
	border-radius: 2px;
	transform: rotateZ(45deg);
}
.close_identity:after,.close_attend:after,.close_money:after,.close_password:after,.close_ask:after,.close_team:after,.close_actor:after{
	position: absolute;
	top: 10px;
	left: 0;
	display: block;
	content: '';
	width: 20px;
	height: 2px;
	background: white;
	border-radius: 2px;
	transform: rotateZ(-45deg);
}
.safe_center>div{
	border-radius: 3px;
	margin-bottom: 30px;
}
.safe_center input{
	border-radius: 3px;
	padding: 0 0 0 36px;
	width: 160px;
	height: 30px;
	border: 1px solid #999;
	color: white;
	background: rgba(0,0,0,0);
}
.safe_center span{
	position: relative;
	margin-right: 50px;
	color: white;
}
.safe_center span a{
	color: #e50909;
	text-decoration: underline;
	cursor: pointer;
}
.safe_center i{
	position: absolute;
	top: 0px;
	left: 10px;
	display: block;
	width: 15px;
	height: 16px;
	background:  url(img/name01.png);
}
.safe_center label{
	color: #ccc;
}
#line{
	width: 395px;
	border-bottom: 1px solid #ccc;
}
.bind_idcard i{
	width: 17px;
	background: url(img/idcard.png);
}
.bind_bankname i{
	width: 15px;
	background: url(img/name02.png);
}
.bind_bankcard i{
	width: 18px;
	height: 14px;
	background: url(img/bankcard.png);
}
.bind_city i{
	width: 12px;
	height: 16px;
	background: url(img/updown.png);
}
.attend_content{
	width: 100%;
	height: auto;
	margin: auto;
	padding-top: 40px;
}
.attend_content>ul{
	width: 590px;
	height: 50px;
	margin: auto;
	border-bottom: 1px solid #ccc;
	    padding-left: 104px;
}
.attend_content>ul>li{
	    float: left;
    font-size: 14px;
    height: 100%;
    line-height: 58px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 20px;
    color: white;
    cursor: pointer;
}
.attend_content>ul .choice{
	    border-bottom: 1px solid #e50909;
      color: #e50909;

}
.attend_content>div{
	margin-top: 30px;
	width: 90%;
	height: auto;
	overflow: hidden;
	padding-left: 5%;
	padding-right: 5%;
}
.attend_content>div>div{
	width: 48%;
	height: 200px;
	position: relative;
	float: left;
	margin-bottom: 20px;
	margin-left: 4%;
}
.attend_content>div>div:nth-of-type(odd){

	margin-left: 0;
}
.attend_content>div>div>img{
	width: 100% !important;
	height: 100% !important;
}
.attend_content>div>div>div{
	position: absolute;
	top: 0;
	left:0;
	background: rgba(255,255,255,.5);
	width: 100%;
	height: 100%;
}
.attend_content>div>div>div>p{
	font-size: 13px;
	text-align: right;
	padding-right: 20px;
	margin-bottom: 8px;
}
.attend_content>div>div>div>p>span{
	color: #e50909;
}
.attend_content>div>div>div>p:nth-child(1){
	font-size: 18px;
	margin-top: 15px;
}
.attend_content>div>div>div>p:last-child span{
	font-size: 18px;

}
.attend_content>div>div>div>p:last-child i{
	display: inline-block;
	width: 15px;
	height: 13px;
	background: url(img/heart.png);
	margin-right: 12px;
}
.money_content{
	width: 100%;
	height: auto;
	margin: auto;
	padding-top: 40px;
	color: white;
	font-size: 18px;
}
.money_content>ul{
    width: 80%;
    height: 38px;
    margin: auto;
    border-bottom: 1px solid #ccc;
}
.money_content>div{
	width: 80%;
	margin:auto;
}
.money_content>ul .choice{
	    border-bottom: 1px solid #e50909;
    color: #e50909;
}
.money_content>ul>li{
	float: left;
    font-size: 14px;
    height: 100%;
    line-height: 38px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 20px;
    color: white;
    cursor: pointer;
}
.money_content>ul>li:last-child{
	float: right;
}
.money_content>ul>li:last-child span{
	color: #e50909;
}
.put_money>p:first-child{
	margin-top: 20px;
}
.put_money>div:nth-child(2){
	width: 300px;
	height: 108px;
	background: white;
	border: 1px solid red;
	margin-top: 12px;
	margin-bottom: 25px;
	margin-left: 100px;
	border-radius: 5px;
	position: relative;
	padding-top: 12px;
}
.put_money>div>p{
	padding-left: 10px;
	color: black;
	font-size: 15px;
	margin-bottom: 5px;
}
.put_money>div img{
	position: absolute;
	right: 5px;
	bottom: 5px;
}
.put_money>p:nth-child(3){
	height: 30px;
	line-height: 30px;
	margin-bottom: 30px;

}
.put_money>p:nth-child(3) input{
	border-radius: 3px;
	border: 1px solid white;
	background: rgba(255,255,255,0);
	height: 20px;
	width: 156px;
	color: white;
	margin-left: 20px;
}
.put_money>p:nth-child(4){
	position: relative;
}
#put_btn{
	border-radius: 3px;
  width: 100px;
height: 30px;
text-align: center;
line-height: 30px;
background: #e50909;
color: white;
cursor: pointer;
margin-left: 94px;
margin-top: 25px;
}
.money_file{
	position: absolute;
	top: 0;
	left: -8px;
	opacity: 0;
}
.get_money{
	position: relative;
}
.get_money p:nth-child(1){
	margin-top: 30px;
}
.get_money p:nth-child(1) input{
	border-radius: 3px;
	border: 1px solid white;
	background: rgba(255,255,255,0);
	width: 160px;
	height: 20px;
	color: white;
	margin-left: 15px;
}
.get_money p:nth-child(2){
	margin-left: 90px;
	color: #959595;
	margin-top: 10px;
	font-size: 15px;
	height: 20px;
	line-height: 20px;
}
#get_btn{
	border-radius: 3px;
	width: 120px;
	height: 30px;
	border: none;
	outline: none;
	text-align: center;
	line-height: 30px;
	background: #e50909;
	color: white;
	cursor: pointer;
	margin-left: 94px;
	margin-top: 25px;
}



.money_record p,.money_deal p{
	margin-top: 27px;
}
.money_record p span:nth-child(3),.money_deal p span:nth-child(3){
	color: #e50909;
}
.money_record p span:nth-child(4),.money_deal p span:nth-child(4){
	color: #e50909;
}
.money_record span,.money_deal span{
	display: inline-block;
	width: 18%;
	font-size: 14px;
	text-align: center;
}
.money_record>p:first-child span,.money_deal>p:first-child span{
	font-size: 16px;
}


.password_content{
  width: 588px;
  height: auto;
  margin: auto;
  padding-top: 150px;
  font-size: 14px;
  color: #666;
}
.password_content>ul{
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ccc;

}
.password_content>ul>li{
  float: left;
}
.password_content>ul>li:nth-child(1){
  margin-left: 114px;
  color: white;
  margin-right: 70px;
}
.update_password{
  padding-left: 180px;
  padding-top: 33px;
}
.update_password>p{
  margin-bottom: 24px;
  position: relative;
}
.update_password>p>input{
	border-radius: 3px;
  width: 206px;
  height: 30px;
  padding-left: 5px;
  border: 1px solid #999;
  background: rgba(255, 255, 255, 0);
  color: white;
  margin-right: 30px;
}
.update_password>p>i{
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 5px;
  width: 18px;
  height: 18px;
  background:url(img/password_bg.png);
}
.update_password>div:last-child{
  margin-left: 0;
}
.ask_content,.ask_answer{
	width: 520px;
	height: auto;
	padding-top: 40px;
	margin: auto;
	overflow: hidden;
	color: white;
}
.ask_content>p{
	float: right;
	margin-bottom: 45px; 
	cursor: pointer;
}
.ask_content>p>span{
	color: #e50909;
}
.ask_content>form{
	clear: both;
	width: 100%;
	overflow: hidden;
}
.ask_content>form>div{
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}
.ask_content>form label{
	display: inline-block;
	width: 126px;
	text-align: center;
	float: left;
}
.ask_content>form input, .ask_content>form textarea{
	border-radius: 3px;
	background: #1a1a1a;
	outline: none;
	border: none;
	padding-left: 5px;
	color: white;
}
.choice_file{
	position: absolute;
	left: 126px;
	width: 100px;
	height: 40px;
	background: #e50909;
	color: white;
	text-align: center;
	line-height: 40px;
	top:0;
	border-radius:5px; 
}
.ask_content>form input[type='file']{
	position: absolute;
	left: 126px;  top:0;
	z-index: 10;
	opacity: 0;
	height: 40px;
	width: 100px;
	cursor: pointer;
}
#ask_btn{
	width: 100px;
	height: 40px;
	background: #e50909;
	color: white;
	text-align: center;
	line-height: 40px;
	margin-left: 150px;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
}
.ask_answer>p{
	width: 100%;
	margin-bottom: 30px;
	height: auto;
	overflow: hidden;
}
.ask_answer>p>span{
	float: right;
	cursor: pointer;
}
.ask_answer>p>span>b{
	color: #e50909;
}
.answer_form>div{
	margin-bottom: 30px;
	height: auto;
	width: 100%;
	overflow: hidden;
}
.answer_form>div>label{
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	float: left;
}
.answer_form>div>input{
	border-radius: 3px;
	background: #1a1a1a;
	outline: none;
	border: none;
	padding-left: 5px;
	color: white;
	height: 30px;
	width: 250px;
	font-size: 16px;
}
.answer_form>div>textarea{
	border-radius: 3px;
	background: #1a1a1a;
	outline: none;
	border: none;
	color: white;
	font-size: 16px;
}
.answer_form>input{
	padding:10px ;
	background: #e50909;
	color: white;
	margin-left: 150px;
	border: none;
	outline: none;
	border-radius: 5px;	
	font-size: 20px;
	cursor: pointer;
}
.answer_div{
	width: 100%;
	padding-top: 10px;
	height: auto;
	padding-bottom: 10px;
}
.answer_div>p{
	margin-bottom: 10px;
	padding-left: 10px;
	cursor: pointer;
	font-size: 20px;
}
.team_content{
	width: 80%;
	height: 100%;
	margin: auto;
	overflow: auto;
	color: white;
	position: relative;
	font-size: 12px;
}
.team_content table{
	width: 100%;
	height: auto;
	font-size: 16px;
}
.team_content table thead {
	font-size: 20px;
}
.team_content table tbody td:nth-child(2){
	color: #e50909;
}
.team_content table th,.team_content table td{
	padding-bottom: 15px;
}
.team_content table tbody  input{
	padding-left: 15px;
	padding-right: 15px;
	border: none;
	outline: none;
	background: #e50909;
	color: white;
	cursor: pointer;
	border-radius: 3px;	
} 
.money_modal{
	width: 100%;
	height: 90%;


	overflow: auto;
	color: #666;
	background:#333;
}
.close_modal{
	width: 100%;
	height: 10%;
	margin: auto;
	background: #333;
	text-align: center;
}

.actor_content{
	width: 100%;
	height: 100%;
	color: white;
	font-size: 14px;
}
.actor_content h3{
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
}
.actor_content>form>div{
	position: relative;
	margin-bottom: 10px;
}
.actor_content label{
	margin-right: 20px;
}
.actor_content input{
	background: #1b1b1b;
	padding-left: 5px;
	border: none;
	outline: none;
	color: white;
	width: 200px;
	height: 25px;
}
.actor_content textarea{
	background: #1b1b1b;
	border: none;
	outline: none;
	color: white;
	width: 200px;
	height: 70px;
	resize: none;
}
.actor_content span{
	color: #5f5f5f;
	margin-left: 20px;
}
.actor_content select{
	width: 60px;
	height: 25px;
	background: #1b1b1b;
	margin-right: 20px;
	outline: none;
	color: white;
	border: none;
}
.actor_content>form>.up_photo input[type=button]{
	position: absolute;
	left: 110px;
	top:0;
	width: 100px;
	cursor: pointer;
	background: #e50909;

}
.actor_content>form>.up_photo input[type=file]{
	 cursor: pointer;
	position: absolute;
	left: 90px;
	top:0;
	width: 110px;
	z-index: 10;
	opacity: 0;
}
#man01,#woman01{
	background: #e50909;
	padding-left: 0px;
	border: none;
	outline: none;
	width: 12px;
	height: 12px;
}
#sure_apply{
	width: 100px;
	height: 30px;
	background: #e50909;
	margin-left: 108px;
	cursor: pointer;
}
 .actor_content .movie1 a{
 	color: gold;
 	display: inline-block;
 	padding-right: 15px;
	border-right: 1px solid #e50909;
	padding-left: 15px;
	cursor: pointer;
 }

.join,.close_modal>input{
	position: absolute;
	left: 50%;
	margin-left: -50px;
	bottom: 0;
	width: 100px;
	height: 30px;
	color: #e50909;
	border: 1px solid #e50909;
	outline: none;
	border-radius: 3px;
	background: rgba(0,0,0,0);
	cursor: pointer;
	font-size: 20px;
}
.money_modal>span{
	font-size: 25px;text-align: center;display: inline-block;
	width: 100%;
}
#table{
	width: 80%;
	margin: auto;
	font-size: 16px;
	padding-top: 15px;

	overflow: auto;
}
#table tr{
	padding-bottom: 15px;
}
#table th {
	font-size: 20px;
	padding-bottom: 15px;
	width: 20%;
}
.movie_list{
	width: 80%;
	height: 90%;
	overflow: auto;
	margin:10px auto 0;
	position: relative;
	z-index: 5;
	
}
.movie_list>div{
	width: 30%;
	height: auto;
	margin-right: 3%;
	margin-top: 5%;
	float: left;
	text-align: center;
}
.movie_list>div>div{
	width: 100%;
	height: 45%;
	position:relative;
}
.movie_list>div>div>img{
	width: 100%;
	height: 100%;
}
.movie_list>div>div>p{
	position: absolute;
	left: 0; bottom: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: rgba(0,0,0,.51);
	color: white;
	font-size: 20px;
	text-align: left;
}
.movie_list>div>p{
	font-size: 14px;
	color: white;
	height:35px;
	line-height: 35px;
}
.movie_list>div>p>span{
	color: #e50909;
	margin-left: 5px;
	margin-right: 5px;
}
.movie_list>div>input{
	width: 80px;
	height: 30px;
	background: #e50909;
	color: white;
	border: none;
	outline: none;
	border-right: 5px;
	cursor: pointer;	
}
.movie_intr{
	width: 100%;
	height: 100%;
}
.mianbao{
	width: auto;
	height: 30px;
	padding-left: 30px;
	margin-top: 30px;
	font-size: 20px;
	color: white;
}
.mianbao>span{
	color: white;
	margin-left: 0;
	cursor: pointer;
}
.mianbao>b{
	margin-left: 15px;
	margin-right: 15px;
}
.mianbao .mianbaoChoice{
	color: #e50909;
}
.movie_details{
	width: 80%;
	margin: auto;
	overflow: auto;
	height: 90%;
}
.movie_topleft{
	width: 50%;
	height: auto;
	float: left;
	margin-right: 10%;
}
.movie_topleft>img{
	width: 100%;
	height: auto;
}
.movie_topright{
	float: left;
}
.movie_topright>P{
	font-size: 16px;
	color: #edebeb;
	margin-bottom: 15px;
}
.movie_topright>P>span{
	color: #edebeb;
	margin-left: 5px;
}
.movie_topright>P:nth-child(1){
	font-size: 25px;
}
.movie_topright>P:nth-child(2)>span{
	color: #e50909;
}
.movie_topright>select{
	width: 100px;
	height: auto;
	background: #333;
	color: white;
	outline: none;
	border: 1px solid #999;
	font-size: 16px;
}
.movie_topright .goToform{
	margin-top: 15px;
	width: 100px;
	height: 30px;
	background:#e50909;
	color: white;
	border-radius: 5px;
	outline:none;
	cursor: pointer;
}
.movie_body{
	clear: both;
	width: 100%;
	height: auto;
}
.movie_body h3{
	font-size: 22px;
	color: #e50909;
	padding-top: 15px;
	padding-bottom:15px;
	margin-bottom: 0;
	text-align:left;
}
.movie_body>p{
	font-size: 13px;
	color: #e5e5e5;
	margin-bottom:10px;
}
.apply_role{
	width: 100%;
	height: 100%;
	overflow: auto;

}