<extend name="public:tpl" />
<block name="css">
    <!--layer-->
    <link href="__CSS__/layui.css" rel="stylesheet">
</block>
<block name="main">
    <div class="page-heading">
        <h3>
            会员管理
        </h3>
        <ul class="breadcrumb">
            <li>
                <a href="#">会员管理</a>
            </li>
            <li class="active"> 会员列表 </li>
        </ul>
    </div>
    <div class="wrapper">
        <a href="{:U('admin/Member/addmember')}"><input type="button" value="会员添加" class="btn btn-xs btn-success"></a>
        <table class="table table-bordered table-hover">
            <tr align="center">
                <td>编号</td>
                <td>账号</td>
                <td>密码</td>
                <td>余额</td>
                <td>等级</td>
                <td>充值权限</td>
                <td>是否绑定</td>
                <td>是否实名</td>
                <td>绑定号码</td>
                <td>操作</td>
            </tr>
            <tbody id="body">
            <volist name="list" id="l">
                <tr align="center" >
                    <td >{$l.id}</td>
                    <td ><img src="__IMG__/{$l.class}.png" style="width: 30px;height: 20px">&nbsp;{$l.username}</td>
                    <td>{$l.password}</td>
                    <td>{$l.money}</td>
                    <td>{$l.level}</td>
                    <td><img id="allowed" style="cursor: pointer;" data-re="{$l.id}" data-id="{$l.is_allowed_recharge}" src="__IMG__/{$l.is_allowed_recharge}.gif"></td>
                    <td>
                            <img src="__IMG__/{$l.is_bind_phone}.gif">
                    </td>
                    <td>
                        <img src="__IMG__/{$l.is_true}.gif">
                    </td>
                    <td>{$l.phone}</td>
                    <td><a href="{:U('admin/member/detail',['id'=>$l['id']])}"><input type="button" class="btn btn-xs btn-info" value="详情"></a>&nbsp;&nbsp;<input type="button"  class="btn btn-xs btn-danger delete" data-id="{$l.id}" value="删除" data-toggle="modal" data-target=".myModal"></td>
                </tr>
            </volist>
            </tbody>
        </table>
        <div id="demo6"></div>
        <input type="hidden" id="count" value="{$count}">
        <input type="hidden" id="data-id" value="">
    </div>
    </button>
    <!-- 模态框（Modal） -->
    <div class="modal fade myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        提示
                    </h4>
                </div>
                <div class="modal-body">
                    删除后不可恢复，你确定要删除吗？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-danger deltrue" >
                        删除
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</block>
<block name="js">
    <!--layer.js-->
    <script src="__JS__/layer/layui.js"></script>
    <script src="__JS__/layer/laypage.js"></script>
    <script>
        $(function(){
            layui.use(['laypage', 'layer'], function(){
                var laypage = layui.laypage,layer = layui.layer;
                laypage({
                    cont: 'demo6'
                    ,pages: $('#count').val()
                    ,skip: true
                    ,jump: function(obj, first){
                        if(!first){
                            $.ajax({
                                'type':'post',
                                'dataType':'json',
                                'url':"{:U('admin/member/select')}",
                                'data':{
                                    'pgNum':obj.curr,
                                    'pgSize':20,
                                },
                                success:function(result){
                                    $('#body').html('');
                                    if(result.status == 1 && result.data != ''){
                                        $.each(result.data,function(k,v){
                                            $('#body').append(
                                                    '<tr align="center">'+
                                                    '<td>'+ v.id+'</td>'+
                                                    '<td>'+ '<img style="width:30px;height:20px" src="__IMG__/'+ v.parent_id+'.png">&nbsp;'+v.username+'</td>'+
                                                    '<td>'+ v.password+'</td>'+
                                                    '<td>'+ v.money+'</td>'+
                                                    '<td>'+ v.level+'</td>'+
                                                    '<td>'+ '<img data-re="'+ v.id+'" data-id="'+ v.is_allowed_recharge+'" style="cursor: pointer" id="allowed" src="__IMG__/'+v.is_allowed_recharge+'.gif" />'+'</td>'+
                                                    '<td>'+ '<img src="__IMG__/'+v.is_bind_phone+'.gif" />'+'</td>'+
                                                    '<td>'+ '<img src="__IMG__/'+v.is_true+'.gif" />'+'</td>'+
                                                    '<td>'+ v.phone+'</td>'+
                                                    '<td><a href="{:U("'+'admin/member/detail/id/'+ v.id+'")}">'+'<input type="button" class="btn btn-xs btn-info" value="详情"></a>&nbsp;&nbsp;'+'<input type="button" class="delete btn btn-xs btn-danger" data-toggle="modal" data-target=".myModal" value="删除"  data-id='+ v.id+'>'+'</td>'+
                                                    "</tr>"
                                            );
                                        });
                                    }
                                }
                            });
                        }
                    }
                });
            });
            $('body').on('click','.delete',function(){
                var id = $(this).attr('data-id');
                $('#data-id').val(id);
            });
            $('body').on('click','#allowed',function(){
                var id = $(this).attr('data-id');
                if(id != ''){
                    var status = id ^ 1;
                    $(this).attr({'data-id':status});
                    //>> 修改图片地址
                    $(this).attr({
                        'src':'__IMG__/'+status+'.gif'
                    });
                    $.ajax({
                        'type':'post',
                        'dataType':'json',
                        'url':'{:U("admin/member/status")}',
                        'data':{
                            'id':$(this).attr('data-re'),
                            'c_id':id
                        },
                        success:function(result){
                            if(result.status == 1){
                                layer.msg(result.msg);
                            }
                        }
                    });
                }

            });

            $('body').on('click','.deltrue',function(){
                var id = $('#data-id').val();
                $.ajax({
                    'type':'post',
                    'dataType':'json',
                    'url':'{:U("admin/member/delete")}',
                    'data':{
                        'id':id,
                    },
                    success:function(result){
                        if(result.status == 1){
                            location.reload();
                        }
                    }
                });
            });
        });
    </script>
</block>


