<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/wang/common_css/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/wang/detail/detail.css">
	<title>电影详情</title>
</head>
<body>
	<header id="header">
		<a href="{:U('index/index')}"><首页</a>
		<p>项目详情</p>	
	</header>
	<div class="detail_img">
		<img src="{$info.image_url}" alt="">
	</div>
	<div class="mubiao">
		<p>项目已获阿纳豆:</p>
		<p><span class="money">{:floor($info['money'])}</span><span class="jinxing">正在进行</span></p>
	</div>
	<ul class="renshu">
		<li><p>目标阿纳豆</p><span>{:floor($info['target_amount'])}</span></li>
		<li><p>支持人数</p><span>{$info['support_number']}人</span></li>
	</ul>
	<div class="movie movie1">
		<h3>预期回报</h3>
		<p>{:htmlspecialchars_decode($info['expected_return'])}</p>
	</div>
	<div class="movie movie1">
		<h3>故事结构</h3>
		<p>{:htmlspecialchars_decode($info['story'])}</p>
	</div>
	<div class="movie movie1">
		<h3>故事分析</h3>
		<p>{:htmlspecialchars_decode($info['analysis'])}</p>
	</div>
	<div class="movie movie1" style="padding-bottom: 1.1rem;">
		<h3>专业影评</h3>
		<p>{:htmlspecialchars_decode($info['film_critic'])}</p>
	</div>
	<a href="#header" class="now_suport">立即支持</a>	
	<div class="bg" style="display: none;">
		<div id="suport_div">
			<p>电影类型:</p>
			<div class="fenghong"><input type="radio" value="1" name='xin' id="lei1"><label for="lei1">固定型 </label><input type="radio" value="2" name="xin" id="lei2"><label for="lei2">票房型 </label></div>
			<p>选择支持阿纳豆:</p>
			<div class="jifeng">
				<input type="radio" name="money" id="money1" value="100"><label for="money1">100</label>
				<input type="radio" name="money" id="money2" value="500"><label for="money2">500</label>
				<input type="radio" name="money" id="money3" value="1000"><label for="money3">1000</label>
				<br>
				<input type="radio" name="money" id="money4" value="5000"><label for="money4">5000</label>
				<input type="radio" name="money" id="money5" value="10000"><label for="money5">10000</label>
			</div>
			<div id="apply"><input type="checkbox" id="xieyi"><label for="xieyi">我同意<a href="{:U('index/apply',['id'=>$info['id']])}">《阿纳巴里用户协议》</a></label></div>
			<p id="suport">立即支持</p>
			<i class="close_model"></i>
		</div>
	</div>
	<script src='__PUBLIC__/wang/common_js/zepto.min.js'></script>
	<script src='__PUBLIC__/wang/common_js/auto-size.js'></script>
	<script src='__PUBLIC__/wang/detail/detail.js'></script>
	<script type="application/javascript">

		$('.now_suport').click(function(){
			var  isLogin = "{$isLogin}";
			console.log(isLogin);
			if(isLogin == 1){
				layer.open({
					content: '您还没有登录！',
					btn: ['登录', '取消'],
					yes: function(index){
						//location.reload();
						layer.close(index);
					}
				});
				return false;
			}else{
				$('.bg').show();

			}
		});

		$('.close_model').click(function(){
			$('.bg').hide();
		});
		$('#suport').on('click',function(){

			// 判断用户是否同意协议
			if(!$("#xieyi").is(':checked')){
				layer.msg('请同意服务协议！');
				return false
			}
			// 选择分红方式
			var fh = $(".fenghong>input[type='radio']:checked").val();

			// 选择积分多少
			var money = $(".jifeng>input[type='radio']:checked").val();

			var project_id="{$info['id']}";
			var _data = {
				money : money,
				project_id : project_id,
				type : fh
			};
			$.post("{:U('index/support')}",_data,function (data) {
				if (data.status == 0) {
					layer.alert(data.msg);
				} else {
					layer.msg(data.msg,function(){
						location.reload();
					});
					$('.bg').hide();
				}
			});
		})
	</script>
</body>
</html>